.container {
  .investor_navbar {
    height: 80px;
    left: 60px;
    top: 39px;
    background: #ffffff;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 20px;

    .bar_logo_container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .logo_container {
        width: auto;

        img {
          height: 45px;
        }
      }
    }

    /* right container */
    .navbar_right_container {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .searchbar-container {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 10px;

        .searchbar-input {
          width: 100%;
          height: 49px;
          background: #eaeef2;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          border: none;
          padding-right: 48px;
          /* Added padding for button */

          &:focus {
            outline: none;
          }
        }

        .searchbar-button {
          position: absolute;
          right: -5px;
          top: 0;
          width: 48px;
          height: 49px;
          background: #fd5901;
          border: none;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          cursor: pointer;
        }
      }

      .icons-container {
        display: flex;
        align-items: center;

        .icon-wrapper {
          margin-left: 1.5rem;
          width: 49px;
          height: 49px;
          left: 1397px;
          top: 49px;
          background: #eaeef2;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .notification-icon,
          .message-icon {
            font-weight: bold;
            font-size: 20px;
          }

          .profile-pic {
            width: 49px;
            height: 49px;
            border-radius: 50%;
          }

          .me {
            position: absolute;
            width: 23px;
            height: 23px;
            /* left: 1589px; */
            top: 65px;

            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            /* identical to box height */
            color: #8f8f8f;
          }
        }
      }
    }
  }
}