.startup_form_container {
    .popup-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .popup {
      max-width: 50%;
      max-height: 100%;
      background-color: white;
      border-radius: 20px;
      background: #fff;
  
      .back_and_home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        img {
          height: 20px;
        }
      }
      h1 {
        color: #000;
        font-family: Poppins;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        align-items: center;
        text-align: center;
      }
      .inside_startUp_popup {
        display: flex;
        flex-direction: column; /* Change to column for the form layout */
        justify-content: center; /* Adjust as needed */
        align-items: center;
        background-color: white;
        border-radius: 10px;
        padding: 0px 20px 10px 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
        label {
          margin-bottom: 8px;
          font-weight: bold;
        }
        .input_half {
          display: flex;
          input,
          select {
            width: 100%;
            padding: 8px;
            margin-bottom: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            height: 44px;
          }
        }
  
        input,
        select {
          width: 100%;
          padding: 8px;
          margin-bottom: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 14px;
          height: 44px;
        }
  
        button {
          width: 100%;
          border-radius: 10px;
          background: #ff0000;
          color: white;
          border: none;
          padding: 8px 16px;
          cursor: pointer;
        }
        .input-grid {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 20px;
  
          .input-group {
            width: 48%; /* Adjust as needed */
          }
        }
      }
    }
    .title_text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 20px;
      h1 {
        color: #000;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      p {
        color: #898989;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .popup {
      flex-direction: column;
    }
  }
  