.featuredpostcard_main_container {
  .featuredpostcard_container {
    // width: 97%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    height: 300px;
    .para_container {
      display: flex;
      margin: auto;

      .para_container_text {
        white-space: pre-line;
        p {
          // height: 258px;
          flex-shrink: 0;
          border-radius: 20px;
          border: 1px solid #dadada;
          background: #eaeef2;
          color: #373737;
          font-size: 18px;
          font-family: "Poppins";
          font-weight: 500;
          line-height: 160%;
          letter-spacing: 0.42px;
          padding: 20px 15px;
          height: 165px;
          // overflow: scroll;

          @media (max-width: 768px) {
            height: auto;
            font-size: 15px; /* Reduce font size for smaller screens */
          }
        }
      }
    }

    .feed_header_container {
      display: flex;
      justify-content: space-between;

      .feedpostcard_content {
        display: flex;
        justify-content: center;
        align-items: center;

        .feedpostcart_text_header {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px;

          .connect_btn {
            display: inline;
          }

          .connect_btn button {
            height: 48px;
            flex-shrink: 0;
            border-radius: 131px;
            background: #505050;
            color: #fff;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: #fff;
            font-size: 12px;
            font-family: Poppins;
            font-weight: 500;
          }

          img {
            width: 15.954px;
            height: 26.346px;
            margin-right: 5px;

            @media (max-width: 768px) {
              width: 10.954px; /* Adjust image size for smaller screens */
              height: 18.346px;
            }
          }

          span {
            margin-right: 5px;
          }
        }
      }

      .feedpostcard_footer {
        img {
          width: 15.954px;
          height: 26.346px;
          margin-right: 5px;

          @media (max-width: 768px) {
            width: 10.954px; /* Adjust image size for smaller screens */
            height: 18.346px;
          }
        }

        .feedpostcard_footer_like_comment {
          span {
            margin-right: 5px;
          }
        }
      }

      .three_dot {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
      }

      .feedpostcard_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .feedpostcard_footer_like_comment {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  .box {
    background-color: #fff;
    padding: 10px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);
  }
}
