.investor_view_sidebar {
  #header .pro-sidebar-inner .pro-sidebar-layout .active {
    background: #d3f36b;
  }
  a:hover {
    color: grey !important;
  }
  .invest_now {
    background: #d3f36b;
    border-radius: 20px;
  }
}
