.landing-page {
    background-color: #f5f7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  
    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      h1 {
        font-size: 52px;
        text-align: center;
      }
      p {
        color: #424242;
      }
      .intro-main-img {
        display: flex;
        flex-direction: column;
        img:first-child {
          object-fit: contain;
          width: 100%;
  
          @media (min-width: 420px) {
            width: 75%;
          }
        }
        img {
          width: 80%;
          object-fit: contain;
          @media (min-width: 420px) {
            width: 60%;
          }
        }
      }
      .short-description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2 {
          width: 90%;
          text-align: center;
        }
      }
      .feature-cards {
        display: flex;
        gap: 40px;
        margin: 40px auto;
        .feature-card {
          height: 200px;
          width: 220px;
          border-radius: 20px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          padding: 20px;
          text-align: center;
  
          img {
            width: 50px;
            height: 50px;
            margin-bottom: 20px;
          }
          h6 {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 16px;
          }
          p {
            text-align: center;
            color: #767676;
            font-size: 12px;
          }
        }
      }
    }
  
    .financial-planner {
      width: 100%;
      background-color: white;
      padding: 50px 20px;
  
      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          object-fit: contain;
        }
      }
  
      .helping-bullets {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
  
        .helping-bullet {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
  
          img {
            width: 40px;
            height: 40px;
          }
  
          p {
            letter-spacing: 0.5px;
          }
        }
      }
    }
  
    .how-we-help {
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
  
      .help-cards {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
  
        .help-card:nth-child(2) {
          background-color: #0d224e;
          color: white;
        }
  
        .help-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          border-radius: 20px;
          width: 300px;
          height: 330px;
          padding: 20px 30px 40px 30px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          background-color: white;
  
          p.count {
            font-size: 18px;
            font-weight: 600;
            align-self: start;
          }
  
          h6.title {
            font-weight: 600;
            text-align: center;
            height: 40px;
            width: 80%;
            font-size: 22px;
            line-height: 1.3;
          }
  
          p {
            text-align: center;
            font-size: 14px;
          }
  
          .LinkBtn {
            margin-top: auto;
            border: 1.5px solid black;
            border-radius: 50px;
            background-color: white;
            padding: 5px 20px;
            font-size: 14px;
            text-decoration: none;
            &:hover {
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
            &:active {
              box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px inset;
            }
          }
        }
      }
    }
  
    .join-us {
      background-color: #5c6ff6;
      padding: 40px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
  
      .header {
        .short-details {
          display: flex;
          flex-direction: column;
          gap: 20px;
  
          h2 {
            line-height: 1.5;
          }
        }
  
        .img-container {
          img {
            width: 100%;
          }
        }
      }
  
      .join-us-cards {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
  
        .join-us-card {
          height: 400px;
          width: 300px;
          background-color: white;
          display: flex;
          flex-direction: column;
          & > div {
            display: flex;
            flex-direction: column;
            align-items: start;
            flex-grow: 1;
            h6 {
              font-weight: 600;
              color: #5c59c1;
            }
  
            .LinkBtn {
              margin-top: auto;
              align-self: end;
              position: relative;
              right: 10px;
            }
          }
        }
      }
    }
  
    .trusted-security {
      background-color: white;
      padding: 40px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      width: 100%;
      .trapezoid-container {
        gap: 30px;
  
        h4 {
          font-weight: 600;
        }
        p {
          font-weight: 500;
        }
  
        // .trapezoid:first-child {
        //   padding: 10px 20px 10px 30px;
        //   display: inline-block;
        //   border-right: 0;
        //   border-radius: 10px 0 0 10px;
        //   margin-right: 20px;
        //   position: relative;
        //   background-color: white;
        //   z-index: 0;
        //   box-shadow: rgba(149, 157, 165, 0.2) -8px 0px 24px;
        // }
  
        // .trapezoid:first-child::after {
        //   content: "";
        //   position: absolute;
        //   top: -2px;
        //   right: -10px;
        //   left: 50%;
        //   bottom: -2px;
        //   border-left: 0;
        //   border-radius: 0 10px 10px 0;
        //   transform-origin: bottom;
        //   transform: skew(-20deg);
        //   background-color: white;
        //   z-index: -1;
        //   box-shadow: rgba(149, 157, 165, 0.2) 8px 0px 24px;
        // }
        // .trapezoid:nth-child(2) {
        //   padding: 10px 20px 10px 30px;
        //   display: inline-block;
        //   border-right: 0;
        //   border-radius: 10px 0 0 10px;
        //   margin-right: 20px;
        //   position: relative;
        //   z-index: 0;
        //   box-shadow: rgba(149, 157, 165, 0.2) -8px 0px 24px;
        //   background-color: white;
        // }
  
        // .trapezoid:nth-child(2)::after {
        //   content: "";
        //   position: absolute;
        //   top: -2px;
        //   right: -10px;
        //   left: 50%;
        //   bottom: -2px;
        //   border-left: 0;
        //   border-radius: 0 10px 10px 0;
        //   transform-origin: bottom;
        //   transform: skew(-20deg);
        //   z-index: -1;
        //   box-shadow: rgba(149, 157, 165, 0.2) 8px 0px 24px;
        // }
      }
    }
  
    .mobile-apps {
      margin: 0;
      & > img {
        width: auto;
      }
    }
  }
  