.investor_onelink_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;

  .investor_onelink_into_container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    gap: 1em;

    @media (min-width: 1200px) {
      grid-template-columns: calc(100% - 26rem) 24rem;
    }

    .main_content {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .right_content {
      display: none;

      @media (min-width: 1200px) {
        display: block;
        // flex: 0 0 24rem;
      }
    }
  }

  .onepagepreview_container {
    .box_container {
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
