.investor_onelink_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;

  .investor_onelink_into_container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
    gap: 1em;

    @media (min-width: 1200px) {
      grid-template-columns: calc(100% - 26rem) 24rem;
    }

    .main_content {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .right_content {
      display: none;

      @media (min-width: 1200px) {
        display: block;
        // flex: 0 0 24rem;
      }
    }
  }

  .onepagepreview_container {
    .box_container {
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .onePager_wrapper {
    --color-main: rgba(253, 89, 1, 1);
    --color-main-light: rgba(253, 89, 1, 0.2);
    --color-link-button: rgba(253, 89, 1, 1);
    --color-button-text: white;
    --color-market-border: rgba(231, 231, 231, 1);
  }

  .onePager_wrapper[theme="investor"] {
    --color-link-button: rgba(211, 243, 107, 1);
    --color-main: rgba(148, 193, 0, 1);
    --color-main-light: rgba(148, 193, 0, 0.2);
    --color-button-text: black;
    --color-market-border: rgba(148, 193, 0, 1);
  }

  .onePager_wrapper {
    legend {
      font-size: 1rem;
      color: var(--color-main);
    }

    .onePager_input {
      border: 1px solid #e7e7e7;
      border-radius: 10px;
      outline: none;
      font-size: 1.25rem;
      color: black;
      padding: 1em 0.5em;
      width: 100%;
    }

    .date_input {
      outline: none;
    }

    .date_input::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }

    .tag {
      background-color: #eaeef2;
    }

    .link__text__clip {
      // width: 5ch;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn-capital {
      width: fit-content;
      background-color: var(--color-link-button);
      border: 1px solid var(--color-link-button);
      border-radius: 5px;
      outline: none;

      color: var(--color-button-text);
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 0.75rem;
      padding: 0.75em 1em;

      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:hover {
        transform: scale(0.95) !important;
      }
    }

    .visit_link {
      font-size: 1rem;

      @media (min-width: 1200px) {
        flex: 1 0 16rem;
      }
    }

    .visit_btn {
      flex: 0 0 2rem;
    }

    // onePager_company_about
    .onePager_company_about {
      display: grid;
      grid-template-columns: 100%;

      @media (min-width: 1200px) {
        grid-template-columns: repeat(2, minmax(23rem, 1fr));
      }

      .span_full {
        grid-column: 1/-1;
      }

      .about_input {
        border-radius: 5px;
        border: 1px solid var(--color-market-border);
        min-height: 220px;
        resize: none;
      }
    }

    // Market Info
    .main_color {
      color: var(--color-main);
    }

    .main_border {
      border: 2px solid var(--color-market-border);
      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);
    }

    .three_col_grid {
      display: grid;
      grid-template-columns: 100%;

      @media (min-width: 1200px) {
        grid-template-columns: repeat(3, minmax(23rem, 1fr));
      }
    }

    .two_col_grid {
      display: grid;
      grid-template-columns: 100%;

      @media (min-width: 1200px) {
        grid-template-columns: repeat(2, minmax(23rem, 1fr));
      }
    }

    // Action buttons
    .onePager_action_save {
      width: 210px;
      border: 1px solid rgba(223, 223, 223, 1);
      background-color: rgba(223, 223, 223, 1);
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 0.75rem;

      padding-block: 1em;
    }

    .onePager_action_publish {
      width: 210px;
      border: 1px solid var(--color-main);
      background-color: var(--color-main);
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 0.75rem;

      padding-block: 1em;
    }
  }
}