.philosophy_info {
  color: var(--d-l-grey);

  legend {
    font-size: 1.25rem;
    font-weight: 500;
  }

  //   .profile_edit_field {
  //     border-radius: 1rem;
  //     outline: none;
  //     border: 1px solid #8da34a;
  //     padding: 0.5em;
  //   }
}
