.documentation-wrapper {
  margin-inline: 1em;
  margin-block: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .left-content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 30px;

    .documentationStartup {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        gap: 2em;

        & > * {
          margin-inline: auto;
        }
      }
    }
  }

  .right-content {
    flex: 0 0 22rem;
  }
}

@media (max-width: 426px) {
  .documentationStartup {
    flex-direction: column;
    .right,
    .left {
      width: 100%;
    }
  }
}
