.documentationStartup {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    padding: 20px;
    background: white;
    border-radius: 25px;
    margin-left: 10px;
    .left {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 30px;
        // margin-left: 50px;
        width: 50%;
        .cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
    .right {
        width: 45%;
    }
}

@media (max-width: 426px) {
    .documentationStartup {
        flex-direction: column;
        .right,
        .left {
            width: 100%;
        }
    }
}
