.postinvestment-card-container {
  // width: 30%;
  min-width: 270px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  background: #fff;
  box-shadow: 4px 4px 30px 0px rgba(211, 243, 107, 0.1);
  padding: 10px;

  .left {
    display: flex;
    align-items: center;
    .text {
      margin-left: 10px;
    }
  }
}
