.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;

  background-color: var(--color-gray);
  border: 1px solid rgba(198, 198, 198, 1);
  border-radius: var(--border-radius);

  @media (min-width: 900px) {
    flex-direction: row;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
