.chat_main_container {
  border-radius: 20px;
  background: #eaeef2;
  display: flex;
  overflow: hidden;
  .left_section {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    flex: 0 0 23rem;
    gap: 1em;

    @media (min-width: 1440px) {
      flex: 0 0 28rem;
    }
  }
  .right_section {
    flex-grow: 1;
  }
}
