.profile__form {
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    fieldset,
    legend {
      all: revert;
    }

    fieldset {
      border: 1px solid #e2e2e2;
      border-radius: 10px;
      background-color: #fbfbfb;
      padding: 0;
      position: relative;

      &:focus-within.startup {
        transition: border 0.15s ease-in-out;
        border: 1px solid #fd5901;
      }

      &:focus-within.investor {
        transition: border 0.15s ease-in-out;
        border: 1px solid rgba(178, 204, 93, 1);
      }

      .profile_form_input {
        border: none;
        outline: none;
        width: 100%;
        background-color: transparent;

        padding: 0.5em 0.75em;
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
      }

      .visually-hiden {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
      }
    }

    legend {
      margin-left: 2em;
      padding-inline: 1em;
      color: #3a3a3a;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .btn-base {
    border: none;
    border-radius: 8px;

    font-size: 16px;
    line-height: 16px;
    text-align: center;
    padding: 0.75em 2.5em;

    &:active {
      transition: transform 0.15s ease-in-out;
      transform: scale(0.95);
    }

    &.startup {
      background-color: #fd5901;
      color: white;
    }

    &.investor {
      background-color: #d3f36b;
      color: black;
    }
  }

  .list-btn {
    width: 100%;
    border-radius: 0%;
    &:hover {
      background-color: #fd5901;
      color: #fff;
    }

    &.investor {
      &:hover {
        background-color: #d3f36b;
        color: #000;
      }
    }
  }
}
