.company__deals[startup="false"]{
    --color-btn: rgba(211, 243, 107, 1);
    --color-btn-01: rgba(211, 243, 107, 0.1);
    --color-btn-08: rgba(211, 243, 107, 0.8);
    --color-card-shadow: rgba(211, 243, 107, 0.1);
    --color-text: black;
    --color-outline-btn: var(--darkMode-currentTheme);
    --border-radius: 20px;
    
}