.other_user_profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 15px;

  .font_12 {
    font-size: 12px;
  }
  .font_14 {
    font-size: 14px;
  }
  .font-light {
    font-weight: 100;
  }

  .profile {
    background-color: white;
    padding: 20px;
    .short_details {
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 2px solid #ededed;
      .buttons {
        margin: 10px 0;
        font-size: 14px;
        .message {
          background-color: #fd5901;
          color: white;
          display: flex;
          align-items: center;
          gap: 5px;
        }
        .more {
          color: white;
          background-color: #949494;
        }
      }
    }
    .details {
      margin: 15px 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  .profile_container {
    padding: 20px;
    background-color: white;
  }
}

@media (max-width: 420px) {
  .other_user_profile {
    .profile {
      .short_details {
        .buttons {
          font-size: 12px;
        }
      }
      // .details {
      // }
    }
  }
}
