.documentation {
    background: white;
    padding: 20px 50px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    .docscontainer {
        display: flex;
        gap: 20px;
        min-height: 100vh;
        flex-wrap: wrap;
    }
}

@media (max-width: 820px) {
    .documentation {
        align-items: center;
        .docscontainer {
            justify-content: center;
        }
    }
}
