// .border_left {
//   border: 0;
//   @media (min-width: 1000px) {
//     // border-left: 1px solid rgba(230, 230, 230, 1);
//   }
// }

.documentation {
  background: var(--white-to-grey);
  color: var(--d-l-grey);
  // margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 500px;
  border-radius: var(--border-radius);
  padding: 20px 0px;
  gap: 35px;
  display: flex;
  flex-direction: column;
  .docscontainer {
    display: flex;
    gap: 50px;
    // min-height: 100vh;
    flex-wrap: wrap;
  }
}

@media (max-width: 820px) {
  .documentation {
    align-items: center;
    .docscontainer {
      justify-content: center;
    }
  }
}
