.community_dashboard_container {
  // -190px because chat nav is fixed to 106px and there is some margin at the top and bottom.
  height: calc(100vh - 190px);
  border-radius: var(--border-radius);
  border: 1px solid #cfcfcf;
  background: #fff;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.11);
  text-align: center;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 100vw;

  @media (max-width: 820px) {
    border-radius: 15px;
  }

  @media (min-width: 821px) {
    height: 85vh;
  }

  .name_title {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .time {
    color: #949494;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .today_text {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    width: 95%;
    margin-top: 10px;
    color: #a0a0a0;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 47%;
      height: 1px;
      background-color: #ebebeb;
      transform: translateY(-50%);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .chat_messages_group {
    height: 90%;
    overflow-y: auto;
    scrollbar-gutter: stable;

    scrollbar-width: thick;
    scrollbar-color: var(--currentTheme) transparent;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--currentTheme);
      border-radius: 10rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--currentTheme-dark);
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10rem;
    }
  }

  .chat_messages {
    height: 80%;
    // overflow-y: scroll;
    overflow-x: hidden;

    .other_sender {
      align-self: flex-start;
      display: flex;
      max-width: 90%;

      @media (min-width: 768px) {
        max-width: 60%;
      }

      .image_profile {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }

      .other_messages {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .message_container {
          background-color: #eaeef2;
          padding: 10px 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          a {
            // color: rgb(93, 93, 93);
            color: #212529;
          }

          .video-message {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 10px;
            background-color: #000;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          }

          .image-message {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }

    .my_message_main {
      align-self: flex-end;

      .image_profile {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }

      .my_messages {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        .time_name_image {
          display: flex;
        }

        .mymessage_container {
          max-width: 90%;
          @media (min-width: 768px) {
            max-width: 60%;
          }

          background-color: var(--currentTheme);
          color: var(--currentTheme-text);
          padding: 10px 20px;
          border-top-left-radius: 20px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;
          margin-bottom: 10px;
          margin-right: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;

          a {
            color: white;
          }

          .video-message {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 10px;
            background-color: #000;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          }

          .image-message {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            margin-top: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }

  .chat_input_section {
    padding-bottom: 20px;
    // position: absolute;
    bottom: 0px;
    width: 100%;

    .chat_input_container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border: 1px solid #eaeef2;
      background-color: #eaeef2;
      border-radius: 8px;
      margin: 5% 2% 0% 2%;

      .image-preview,
      .video-preview {
        position: relative;
        display: inline-block;
        margin-right: 10px;

        img,
        video {
          max-width: 200px;
          max-height: 150px;
        }

        .remove-preview {
          position: absolute;
          top: 0;
          right: 0;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 50%;
          padding: 4px;
          cursor: pointer;
        }
      }

      input {
        flex-grow: 1;
        border: none;
        outline: none;
        font-size: 14px;
        padding: 8px;
        border-radius: 6px;
        background-color: #eaeef2;

        @media (max-width: 420px) {
          max-width: 70%;
        }

        ::placeholder {
          color: #999;
        }
      }

      .right_icons {
        display: flex;
        gap: 10px;
        padding: 0 5px;

        .attactment-container {
          position: relative;

          .attachment-options {
            position: absolute;
            bottom: 40px;
            right: 10px;
            border-radius: 10px;
            background: #a7a7a7;
            max-width: 50vw;
            width: max-content;

            display: flex;
            justify-content: space-around;
            gap: 10px;
            padding: 10px;
            flex-wrap: wrap;

            cursor: default;

            .attachment-option {
              display: flex;
              flex-direction: column;
              gap: 5px;
              align-items: center;
              cursor: pointer;

              img {
                background-color: rgba(255, 255, 255, 0.6);
              }

              p {
                margin: 0;
                font-size: 14px;
                color: rgb(233, 233, 233);
              }
            }
          }
        }
      }
    }
  }
  .popup-close-button,
  .popup-ok_button {
    // width: 20%;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--currentTheme);
    color: var(--currentTheme-text);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
