.profile_container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .two_col_wrapper {
    // display: flex;
    justify-content: space-between;

    display: grid;
    grid-template-columns: 100%;

    @media (min-width: 1200px) {
      grid-template-columns: calc(100% - 26rem) 24rem;
    }

    .main_content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  .typography {
    color: var(--d-l-grey);
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
    margin: 0;
  }

  .smallest_typo {
    color: #686868;
    font-size: 12px;
    font-family: Poppins;
  }

  .small_typo {
    color: #717171;
    font-size: 16px;
    font-family: Poppins;
  }

  .main_container {
    border: 2px solid red;
    /* margin: 1rem; */
    flex: 0 0 95%;
    max-width: 95%;
    display: flex;
    overflow: hidden;
  }

  .box {
    background-color: var(--white-to-grey);
    padding: 10px;
  }

  // .bio_container {
  //   width: 750px;
  //   height: 411px;
  // }

  .personal_information {
    // width: 750px;
    flex-shrink: 0;
  }

  .bio_information {
    width: 750px;
    flex-shrink: 0;
    height: 340px;
  }

  .image_name_section {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: row;
    // justify-content: space-around;
  }

  .image_name_section img {
    width: 90px;
    height: 90px;
  }

  .connect_btn {
    display: flex;
    justify-content: end;
  }

  .connect_btn {
    // width: 9rem;
    height: 48px;
    flex-shrink: 0;
    border-radius: 131px;
    background: #505050;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
  }

  .edit_btn {
    button {
      border-radius: 131px;
      border: 1px solid #c6c6c6;
      width: 107px;
      height: 35px;
      flex-shrink: 0;
      color: #717171;
      font-size: 18px;
      font-family: Poppins;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .divider_hr {
    color: #000000;
    height: 2px;
    flex-shrink: 0;
    border: 1px solid rgba(80, 80, 80, 0.2);
    width: 90%;
    opacity: 0.5;
    margin: auto;
    margin-top: 2rem;
  }

  .designation_list {
    color: #000;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    padding-right: 50px;
  }

  table tr td {
    padding-bottom: 0.5rem;
  }

  .personal_information_header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  }

  .card_holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .personal_information_header button {
    border-radius: 131px;
    border: 1px solid #c6c6c6;
    width: 107px;
    height: 35px;
    flex-shrink: 0;
    color: #717171;
    font-size: 18px;
    font-family: Poppins;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .designation_info {
    margin-left: 1rem;

    textarea {
      width: 98%;
    }
  }

  .designation_see_more {
    display: flex;
    justify-content: end;
    padding: 1rem;
  }

  .designation_see_more a {
    color: #717171;
    font-size: 16px;
    font-family: Poppins;
    list-style: none;
    text-decoration: none;
  }

  .milestone_see_more a {
    color: #717171;
    font-size: 16px;
    font-family: Poppins;
    list-style: none;
    text-decoration: none;
  }

  .green_button {
    border-radius: 5px;
    background: #d3f36b;
    border: 1px solid #d3f36b;
    padding: 8px 25px;
    width: auto;
    font-size: 14px;

    &:active {
      // background-color: transparent;
      transform: scale(0.95);
    }

    a {
      text-decoration: none;
      color: black;
    }
  }

  .green_underline {
    text-decoration: underline solid #d3f36b;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }

  // CSS for userBio
  .profile_edit_field {
    border-radius: 1rem;
    outline: none;
    border: 1px solid #8da34a;
    padding: 0.5em;

    &::placeholder {
      opacity: 0.75;
    }
  }
}

// @media (max-width: 768px) {
//   .seventy,
//   .thirty {
//     margin: 0;
//     padding: 0;
//   }
//   .profile_container {
//     .bio_container,
//     .personal_information,
//     .bio_information {
//       width: 100%;
//       max-width: 100%;
//       height: auto;

//       .designation_list {
//         color: #000;
//         font-size: 16px;
//         font-family: Poppins;
//         font-weight: 500;
//         padding-right: 50px;
//       }
//     }
//   }

//   .bio_container {
//     .col-seven {
//       padding: 0;
//       .image_name_section {
//         img {
//           height: 20%;
//         }
//         .left_profile_text {
//           .typography {
//             color: #000;
//             font-size: 17px;
//             font-family: Poppins;
//             font-weight: 600;
//             margin: 0;
//           }

//           .smallest_typo {
//             color: #686868;
//             font-size: 10px;
//             font-family: Poppins;
//           }

//           .small_typo {
//             color: #717171;
//             font-size: 14px;
//             font-family: Poppins;
//           }
//         }
//       }
//     }

//     .col-five {
//       padding: 0;
//       display: flex;
//       justify-content: center;
//       .connect_btn button {
//         width: 8rem;
//       }
//     }
//     .designation {
//       .designation_list {
//         color: #000;
//         font-size: 16px;
//         font-family: Poppins;
//         font-weight: 500;
//         padding-right: 50px;
//       }
//     }
//   }
// }
@media (max-width: 820px) {
  .profile_container {
    margin-top: 0px !important;
  }
}

@media (max-width: 426px) {
  .profile_container {
    .startups_invested {
      padding: 10px;

      .invested_cards {
        .invested_card {
          width: 300px;
        }
      }
    }

    .profileContainer {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-left: 20px;
      // justify-content: start;
    }

    table {
      // width: 300px;
      font-size: 15px;

      strong {
        font-weight: 200;
        margin-right: 15px;
      }
    }

    .milestones {
      overflow-x: scroll;
    }

    .small_typo {
      width: 300px;
    }
  }
}
