.investor_one_link_profile_page {
    margin-top: 21px;
  h1 {
    font-weight: 600;
  }
  .main_inner-section {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    .user_data_section {
      img {
        width: 75px;
        height: 75px;
      }
      .user_data {
        h1 {
          color: #000;
          font-family: Poppins;
          font-size: 25px;
          margin: 0;
        }
        p {
          color: #717171;

          font-family: Poppins;
          font-size: 20px;
          font-weight: 400;
          margin: 0;
        }
      }
    }
    .bio_section {
      position: relative;
      width: 100%;
      height: 206px;
      background-color: #fbfbfb;
      border: 0.5px solid #e2e2e2;
      border-radius: 10px;
      h1{
        position: absolute;
        background-color: #fbfbfb;
        top: -10px;
        left: 23px;
        font-size: 15px;
        
    }
    }
    .experience_section{
        position: relative;
        width: 100%;
        height: 206px;
        background-color: #fbfbfb;
        border: 0.5px solid #e2e2e2;
        border-radius: 10px;
        h1{
            position: absolute;
            background-color: #fbfbfb;
            top: -10px;
            left: 23px;
            font-size: 15px;
        }
    }
    .social_media_section{
        color: #000;

font-family: Poppins;
font-size: 20px;
font-weight: 600;
.link_icons{
    img{
        width: 20px;
        height: 20px;
    }
    span{
        font-size: 15px;

    }
}
    }
  }
}
