.onePager_Team {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-main-light);
    border-radius: 10rem;

    &:hover {
      background-color: var(--color-main);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10rem;
    //   margin-inline: 20dvw;
  }

  .onePager_teamMember_container {
    display: flex;
    align-items: center;
    gap: 2em;
    
  }
}
