.upload_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px dashed #fd5901;
  background: rgba(253, 89, 1, 0.06);
  backdrop-filter: blur(23.5px);
  padding: 20px;
  margin-inline: auto;

  @media (min-width: 550px) {
    margin-inline: 0;
  }
  z-index: 0;
  &:hover {
    cursor: pointer;
  }

  .image_container {
    margin-bottom: 10px;

    img {
      max-width: 100%;
      max-height: 100%;
      width: 41.667px;
      height: 43.231px;
      flex-shrink: 0;
    }
  }

  .text {
    font-size: 16px;
    font-weight: bold;
    color: #fd5901;
  }
  .text_upload {
    cursor: pointer;
  }
}

@media (max-width: 425px) {
  .upload_container {
    width: 300px;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .upload_container {
    width: auto;
  }
}
