.onelink_market_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 94%;
    width: 100%;

    .before_card {
        padding: 0;
        padding-right: 2px !important;
    }

    .card {
        position: relative;
        height: 138px;
        margin-bottom: 20px;
        border-radius: 4px;
        background: black;

        box-shadow: 4px 4px 30px 0px rgba(234, 238, 242, 0.50);

        .card-body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .card-title {
                background-color: #fff;
                position: absolute;
                top: -10px;
                left: 25%;
                transform: translateX(-50%);
                border-radius: 5px;
                color: #FF772F;
                text-align: center;
                font-family: Poppins;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .card-text {
                color: rgba(255, 255, 255, 0.98);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }

            input {
                border-radius: 5px;
                border: 1px solid #E9E9E9;
                background: #FBFBFB;
                width: 310px;
                height: 45px;
                flex-shrink: 0;
                outline: none; 
                &.focus{
                    outline: none;
                }
            }
        }
    }
}