.fundingteamcard-component {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .header-left {
      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }
    }

    .header-right {
      flex: 1;
      display: flex;
      flex-direction: column;

      .name {
        font-size: 18px;
        margin: 0;
      }

      .feedback {
        display: flex;
        align-items: center;

        .age {
          color: #989898;
          font-family: Poppins;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  .card-body {
    .designation_connect {
      display: flex;
      justify-content: space-between;

      .designation {
        display: flex;
        flex-direction: column;
        h1 {
          color: #565656;
          font-family: Poppins;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        h3 {
          color: #0e0e0e;
          font-family: Poppins;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .connect_button {
        button {
          border-radius: 7.217px;
          background: #d3f36b;
          padding: 10px 20px;
          border: none;
          color: #000;
          font-family: Poppins;
          font-size: 12.217px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          img {
            height: 12px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .fundingteamcard-component {
    min-width: 200px;
    .card-body {
      .designation_connect {
        flex-direction: column;
      }
    }
  }
}
