.company__image {
  width: 110px;
  height: 110px;
}
.company__headings{
  color: black;
}
.company__name {
  // font-size: 1.5rem;
  // line-height: 2.25rem;
  font-weight: 500;
}

// .company__type {
//   color: #545454;
//   font-size: 0.75rem;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
// }
