.onelink_container {
    .content-70 {
        .bio_container {
            width: 750px;
            height: 411px;
        }

        .box {
            background-color: #fff;
            padding: 10px;
            border-radius: 40px;
            background: #fff;
            box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);
        }

    }
}