.card.quiz-card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: 2px;
  --bs-card-border-color: var(--bs-border-color);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--white-to-grey);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;

  --bs-card-border-radius: 0;

  @media (min-width: 768px) {
    --bs-card-border-radius: var(--border-radius);
  }

  //   Card CSS
  border: 0;
  width: 100%;
  // margin-inline: auto;

  // @media (min-width: 992px) {
  //   width: 80%;
  // }

  // @media (min-width: 1200px) {
  //   width: 70%;
  // }

  // @media (min-width: 1400px) {
  //   width: 60%;
  // }

  .card-header,
  .card-body,
  .card-footer {
    padding-inline: 1rem;
    text-align: left;
    color: var(--d-l-grey);

    @media (min-width: 768px) {
      padding-inline: 2rem;
    }
  }

  .card-header {
    font-size: 1.5rem;
  }

  .card-body {
    // padding-inline: 2rem;
    .option-bar {
      background-color: #c3c3c326;
      font-size: 1.25rem;
      color: var(--d-l-grey);
      text-align: left;
      border: 1px solid var(--bs-border-color);

      border-radius: 10px;
      padding: 0.75rem 1rem;
      cursor: pointer;

      display: flex;
      align-items: center;

      &:hover,
      &.selected {
        background-color: rgba(var(--bs-info-rgb), 0.25);
        color: var(--d-l-grey);
        border-color: rgba(var(--bs-info-rgb), 0.25);
      }

      &.selected {
        box-shadow: 0px 0px 2px 2px rgba(var(--bs-info-rgb), 0.25);
      }

      &.alert-success {
        background-color: #d4eddae5;
        color: #009d4f;
        border-color: #d4eddae5;

        &::after {
          content: "\2713";
          color: #009d4f;
          font-size: 1.25rem;
          // border: 1px solid black;

          margin-left: auto;
        }
      }

      &.alert-danger {
        background-color: #f8d7da;
        color: #ff0000b2;
        border-color: #f8d7da;

        &::after {
          content: "\2718";
          color: #ff0000b2;
          font-size: 1.25rem;
          // border: 1px solid black;

          margin-left: auto;
        }
      }
    }
  }

  .card-footer {
    font-size: 1.25rem;
  }
}
