.investment_philosophy {
  border-radius: var(--border-radius);
  background: var(--white-to-grey);
  padding: 20px 0;
  // margin: 0 20px 20px 20px;
  // box-shadow: 0 0.125rem 0.25rem rgba(#000, 0.075);
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    padding: 0 20px 20px 20px;
    width: auto;
    border-bottom: solid 1px var(--bs-border-color);
  }

  .edit_button {
    border-radius: 131px;
    background-color: transparent;
    border: 1px solid #c6c6c6;
    width: 107px;
    height: 35px;
    flex-shrink: 0;
    color: #717171;
    font-size: 18px;
    font-family: "Poppins";
    // margin-right: 30px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }

  textarea {
    width: 98%;
  }

  .recent_experience,
  .education {
    border-radius: var(--border-radius);
    background: var(--white-to-grey);
    padding: 20px;
    color: var(--d-l-grey);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 5px;
    }

    .experience_cards {
      .experience_card:last-child {
        border-bottom: none;
      }

      .experience_card {
        border-bottom: solid 1px #dfdfdf;

        .img_container {
          padding: 20px;
          background: rgba(211, 243, 107, 0.44);
        }

        .description {
          font-size: 14px;
        }
      }
    }
  }
  .investment_details_cards {
    border-radius: var(--border-radius);
    background: var(--white-to-grey);
    color: var(--d-l-grey);
    padding: 20px;
    // margin: 20px;
    margin-inline: 0px;
    margin-block: 0px;
    box-shadow: 0 0.125rem 0.25rem rgba(#000, 0.075);
  }
}
