.service_main_container {
    .container {
        .heading_section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            h1 {
                color: #000;
                font-family: Poppins;
                font-size: 44px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            p {
                color: #343434;
                text-align: center;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .our_service {
            position: relative;
            margin-bottom: 20px;

            h1 {
                color: black;
                font-size: 24px;
                font-weight: bold;
                text-align: left;

                &::after {
                    content: "";
                    display: block;
                    width: 130px;
                    height: 2px;
                    background-color: black;
                    margin: 8px;
                }
            }

            .list_container {
                display: flex;
                margin-top: 3rem;

                .number_section {
                    position: relative;
                    color: #A4ABBA;
                    font-family: Poppins;
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 103px;
                        background: #A4ABBA;
                        top: 50%;
                        /* Position the line in the middle of the .number_section element */
                        right: -12px;
                        /* Adjust the distance of the line from the .number_section element */
                        transform: translateY(-50%);
                        /* Center the line vertically */
                    }
                }

                .content_and_text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 3rem;

                    img {
                        height: 90px;
                        width: 90px;
                    }

                    .text_container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        margin-top: 10px;
                        margin-left: 10px;

                        h5 {
                            color: #000;
                            font-family: Poppins;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            letter-spacing: -0.04px;
                        }

                        p {
                            color: #373737;
                            text-align: justify;
                            font-family: Poppins;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }

            .read_more {
                border: none;
                color: red;
                background-color: transparent;
            }
        }

        .our_client_feedback {
            h1 {
                color: black;
                font-size: 24px;
                font-weight: bold;
                text-align: left;

                &::after {
                    content: "";
                    display: block;
                    width: 220px;
                    height: 2px;
                    background-color: black;
                    margin: 8px;
                }
            }

            .feedback_container {
                display: flex;

                .image_container {
                    img {
                        height: 300px;
                        width: 97%;
                    }
                }

                .text_section {
                    p {
                        color: #232323;
                        text-align: justify;
                        font-family: Poppins;
                        font-size: 20px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .name_buttons {
                        display: flex;
                        justify-content: space-between;

                        .left_right_btns {
                            img {
                                &:nth-child(1) {
                                    margin-right: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .end_para {
                color: #232323;
                text-align: justify;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 34px;
                /* 170% */
            }
        }

    }
}

@media screen and (max-width: 768px) {
    .service_main_container {
        .container {
            .heading_section {
                h1 {
                    font-size: 34px;
                }

                p {
                    font-size: 14px;
                }
            }

            .our_service {
                h1 {
                    color: black;
                    font-size: 20px;
                    font-weight: bold;
                    text-align: left;

                    &::after {
                        content: "";
                        display: block;
                        width: 100px;
                        height: 2px;
                        background-color: black;
                        margin: 8px;
                    }
                }

                .list_container {
                    margin-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .number_section {
                        position: relative;
                        color: #A4ABBA;
                        font-family: Poppins;
                        font-size: 44px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        &::after {
                            content: "";
                            position: absolute;
                            height: 2px;
                            /* Change width to height */
                            width: 103px;
                            /* Change height to width */
                            background: #A4ABBA;
                            top: 90%;
                            right: -80px;
                            transform: translateX(-50%);
                            /* Change translateY to translateX */
                        }
                    }

                    .content_and_text {
                        justify-content: center;
                        align-items: center;
                        margin-left: 1rem;

                        img {
                            height: 70px;
                            width: 70px;
                        }

                        .text_container {
                            h5 {
                                font-size: 16px;
                            }

                            p {
                                font-size: 14px;
                            }
                        }
                    }



                }

                .read_more {
                    border: none;
                    color: red;
                    background-color: transparent;
                    font-size: 16px;
                    margin-left: -15%;
                }
            }
        }
    }

}