.term_of_service_container {
  border-radius: var(--border-radius);
  max-width: 63vw;
  background: var(--white-to-grey);

  .title_section {
    .term_title {
      //color: var(--d-l-grey);
      color: var(--d-l-grey);
      font-family: Poppins;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-align: center;
    }
    .updated_textstartup {
      color: #fd5901;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
    }
    .updated_textinvestor {
      color: #d3f36b;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
    }
  }
  .accept_the_term_section {
    margin-top: 2rem;
    p {
      color: var(--d-l-grey);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    position: relative;
    .heading_with_line_one {
      color: var(--d-l-grey);
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      position: relative; /* Add this line to establish positioning context */
    }
    .heading_with_line_two {
      color: var(--d-l-grey);
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      position: relative; /* Add this line to establish positioning context */
    }
  }

  .button_section {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      border-radius: 50px;
      display: flex;
      width: 155px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: none;
      color: #fff;
    }
    .decline_btn {
      background: #9c9c9c;
    }
    .accept_btnstartup {
      background: #fd5901;
      margin-left: 10px;
    }
    .accept_btninvestor {
      background: #d3f36b;
      margin-left: 10px;
      color: black;
    }
  }
}

@media (max-width: 1080px) {
  .term_of_service_container {
    .title_section {
      .term_title {
        font-size: 36px;
      }
      .updated_text {
        font-size: 18px;
      }
    }
    .accept_the_term_section {
      p {
        font-size: 16px;
      }
      .heading_with_line_one {
        font-size: 18px;
        &::after {
          display: none;
        }
      }
      .heading_with_line_two {
        font-size: 18px;
        &::after {
          display: none;
        }
      }
    }
    .button_section {
      button {
        width: 130px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 460px) {
  .term_of_service_container {
    .title_section {
      .term_title {
        font-size: 36px;
      }
      .updated_text {
        font-size: 18px;
      }
    }
    .accept_the_term_section {
      p {
        font-size: 16px;
      }
      .heading_with_line_one,
      .heading_with_line_two {
        font-size: 18px;
      }
    }
    .button_section {
      button {
        width: 130px;
        font-size: 14px;
      }
    }
  }
}
