.ConnectionCard_container{
    .milestone-card {
      background-color: #eaeef2;
      background: var(--bs-light);
      gap: 5px;
      flex: 0 0 16rem;
      padding:10px;
      border-radius: 0.37rem;
      text-align: center;
      color: var(--d-l-grey);
    
      img {
        width: 120px;
        height: 60px;
      }
    
      h1 {
        font-size: 20px;
      }
      p{
        font-family: "Outfit", sans-serif;
        font-size: 12px;
      }
      button {
        flex-shrink: 0;
        border-radius: 10px;
        //background: #fd5901;
        color: #fff;
        font-size: 13px;
        font-family: Poppins;
        font-weight: 500;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        // position: absolute;
        // bottom: 9px;
      }
    }
}
