.fund_deployment_container {
  width: 100%;
  position: relative;
  max-width: 100%;
  margin-top: 20px;
  overflow-x: scroll;
  h2 {
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 15%;
    transform: translateX(-50%);
    border-radius: 5px;
    color: #ff772f;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  table,
  th,
  td {
    border: 1px solid black;
    width: 100%;
  }

  th,
  td {
    padding: 10px 30px;
    text-align: left;
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 75px;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 10px;
  }
}

@media (max-width: 425px) {
  .fund_deployment_container {

    h2{
      margin-left: 5%;
    }
  }
}
