.investor_feed_container {
  // display: flex;
  // gap: 2rem;
  justify-content: space-between;

  display: grid;
  grid-template-columns: 100%;

  @media (min-width: 1320px) {
    grid-template-columns: calc(100% - 26rem) 24rem;
  }

  .main_content {
    // flex-grow: 1;
    max-width: 100%;

    .posts_col {
      max-width: 700px;
      margin-inline: auto;
    }
  }

  // .right_content {
  //   flex: 0 0 24rem;
  // }

  .start_post_container {
    display: flex;
    align-items: center;
    // width: 750px;
    height: 100px;
    cursor: pointer;

    img {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }

    input {
      border-radius: 20px;
      border: 1px solid #a6a6a6;
      margin-left: 15px;
      width: 100%;
      height: 55px;
      flex-shrink: 0;
    }
  }

  .box {
    background-color: #fff;
    padding: 10px;
    border-radius: var(--border-radius);
    background: #fff;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);
  }

  .infinite-scroll-component__outerdiv {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    .infinite-scroll-component {
      overflow: visible !important;
    }
  }
}

@media (max-width: 768px) {
  .investor_feed_container {
    .start_post_container {
      width: 100%;
    }
  }
}
