.my_message_main {
  align-self: flex-end;

  .image_profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .my_messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-inline-end: 0.5rem;

    .msg-time {
      font-size: 10px;
      color: rgb(255, 255, 255);
      text-align: end;
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: flex-end;
      width: 100%;
    }

    .time_name_image {
      display: flex;
    }

    .mymessage_container {
      background-color: var(--currentTheme);
      color: var(--currentTheme-text);
      padding: 5px 10px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-bottom: 5px;
      // margin-right: 50px;
      display: flex;
      flex-direction: column;
      // align-items: center;

      max-width: 60%;

      &:not(:has(.image-message, .video-message, .document-message)) {
        max-width: 90%;
      }

      @media (min-width: 768px) {
        max-width: 60%;
      }

      .chatDropDownMenu {
        display: none;
        overflow: visible;
      }

      &:hover,
      &:active {
        .chatDropDownMenu {
          display: block;
        }
      }

      p {
        font-size: 14px;
        margin-inline-end: 1rem;
      }

      a {
        color: white;
      }

      .video-message {
        max-width: 100%;
        height: 100%;
        max-height: 200px;
        border-radius: 10px;
        margin-top: 10px;
        background-color: #000;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }

      .image-message {
        max-width: 100%;
        height: 100%;
        max-height: 200px;
        border-radius: 10px;
        margin-top: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
