.quiz-main {
  width: 100%;
  // overflow-x: auto;
  // padding-bottom: 0.5rem;

  @media (min-width: 992px) {
    width: 80%;
  }

  @media (min-width: 1200px) {
    width: 70%;
  }

  @media (min-width: 1400px) {
    width: 60%;
  }

  // &::-webkit-scrollbar {
  //   height: 8px;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background-color: var(--bs-primary);
  //   margin: 0;
  // }

  // &::-webkit-scrollbar-track {
  //   background-color: transparent;
  //   margin: 0;
  // }

  .opacity-0 {
    opacity: 0 !important;
    transition: 0.25s !important;
  }
}
