.investorHome_main_container {
  // margin-top: 40px;
  // margin-block: 1.5rem;
  // display: flex;
  // background-color: rgba(234, 238, 242, 1);

  .two_column_wrapper {
    // margin-inline: 1rem;

    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    // display: grid;
    // grid-template-columns: 100%;
    // @media (min-width: 1200px) {
    //   grid-template-columns: calc(100% - 26rem) 24rem;
    // }

    // Right side content
    .thirty {
      display: none;

      @media (min-width: 1200px) {
        display: block;
        flex: 0 0 22rem;
      }

      @media (min-width: 1280px) {
        flex: 0 0 24rem;
      }
    }
    .seventy {
      // max-width: calc(100% - 0rem);

      // @media (min-width: 1200px) {
      //   max-width: calc(100% - 26rem);
      // }
      flex-grow: 1;
    }

    .typography {
      color: #000;
      font-size: 20px;
      font-family: "Poppins";
      font-weight: 600;
      margin: 0;
    }

    .smallest_typo {
      color: #686868;
      font-size: 12px;
      font-family: Poppins;
    }

    .small_typo {
      color: #717171;
      font-size: 16px;
      font-weight: 500;
      font-family: Poppins;
    }

    .main_container {
      border: 2px solid red;
      /* margin: 1rem; */
      flex: 0 0 95%;
      max-width: 95%;
      display: flex;
      overflow: hidden;
    }

    .box {
      background-color: #fff;
      padding: 10px;
      border-radius: 40px;
      background: #fff;
      box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);
    }

    .bio_container {
      // width: 750px;
      // height: 411px;
    }

    .personal_information {
      // width: 750px;
      flex-shrink: 0;
    }

    .bio_information {
      // width: 750px;
      flex-shrink: 0;
      height: 340px;
    }

    .image_name_section {
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: row;
      // justify-content: space-around;
    }

    .image_name_section img {
      width: 90px;
      height: 90px;
    }

    .connect_btn {
      display: flex;
      justify-content: end;
    }

    .connect_btn {
      // width: 9rem;
      height: 48px;
      flex-shrink: 0;
      border-radius: 131px;
      background: #505050;
      color: #fff;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: #fff;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 500;
    }

    .edit_btn {
      button {
        border-radius: 131px;
        border: 1px solid #c6c6c6;
        width: 107px;
        height: 35px;
        flex-shrink: 0;
        color: #717171;
        font-size: 18px;
        font-family: Poppins;
        cursor: pointer;
      }
    }

    .divider_hr {
      color: #000000;
      height: 2px;
      flex-shrink: 0;
      border: 1px solid rgba(80, 80, 80, 0.2);
      width: 90%;
      opacity: 0.5;
      margin: auto;
      margin-top: 2rem;
    }

    .designation_list {
      color: #000;
      font-size: 20px;
      font-family: Poppins;
      font-weight: 500;
      padding-right: 50px;
    }

    table tr td {
      padding-bottom: 1rem;
    }

    .profile_table {
      width: 100%;
      @media (min-width: 1200px) {
        width: 75%;
      }
    }

    tr {
      width: 100%;
    }

    .personal_information_header {
      display: flex;
      justify-content: space-between;
      margin: 1rem;
    }
    .card_holder {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .personal_information_header button {
      border-radius: 131px;
      border: 1px solid #c6c6c6;
      width: 107px;
      height: 35px;
      flex-shrink: 0;
      color: #717171;
      font-size: 18px;
      font-family: Poppins;
      cursor: pointer;
    }

    .designation_info {
      margin-left: 1rem;
      textarea {
        width: 98%;
      }
    }

    .designation_see_more {
      display: flex;
      justify-content: end;
      padding: 1rem;
    }

    .designation_see_more a {
      color: #717171;
      font-size: 16px;
      font-family: Poppins;
      list-style: none;
      text-decoration: none;
    }

    .milestone_see_more a {
      color: #717171;
      font-size: 16px;
      font-family: Poppins;
      list-style: none;
      text-decoration: none;
    }
  }

  .profile_edit_field {
    outline: none;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 5px;
    padding: 0.25em 0.75em;
    color: #777;

    &:focus {
      transition: border 0.15s ease-in-out;
      border: 1px solid rgba(253, 89, 1, 1);
    }
  }
}

// @media (max-width: 768px) {
//   .seventy,
//   .thirty {
//     margin: 0;
//     padding: 0;
//   }
//   .investorHome_main_container {
//     .bio_container,
//     .personal_information,
//     .bio_information {
//       width: 100%;
//       max-width: 100%;
//       height: auto;

//       .designation_list {
//         color: #000;
//         font-size: 16px;
//         font-family: Poppins;
//         font-weight: 500;
//         padding-right: 50px;
//       }
//     }
//   }

//   .bio_container {
//     .col-seven {
//       padding: 0;
//       .image_name_section {
//         img {
//           height: 20%;
//         }
//         .left_profile_text {
//           .typography {
//             color: #000;
//             font-size: 17px;
//             font-family: Poppins;
//             font-weight: 600;
//             margin: 0;
//           }

//           .smallest_typo {
//             color: #686868;
//             font-size: 10px;
//             font-family: Poppins;
//           }

//           .small_typo {
//             color: #717171;
//             font-size: 14px;
//             font-family: Poppins;
//           }
//         }
//       }
//     }

//     .col-five {
//       padding: 0;
//       display: flex;
//       justify-content: center;
//       .connect_btn button {
//         width: 8rem;
//       }
//     }
//     .designation {
//       .designation_list {
//         color: #000;
//         font-size: 16px;
//         font-family: Poppins;
//         font-weight: 500;
//         padding-right: 50px;
//       }
//     }
//   }
// }
@media (max-width: 820) {
  .investorHome_main_container {
    margin-top: 0px !important;
  }
}

@media (max-width: 426px) {
  .investorHome_main_container {
    // margin-left: -20px;
    .profileContainer {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-left: 20px;
      // justify-content: start;
    }
    table {
      width: 300px;
      font-size: 15px;
      strong {
        font-weight: 200;
        margin-right: 15px;
      }
    }
    .milestones {
      // overflow-x: scroll;
    }
    .small_typo {
      // width: 300px;
    }
  }
}
