


  .typography {
    color: #000;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
    margin: 0;
  }

  .smallest_typo {
    color: #686868;
    font-size: 12px;
    font-family: Poppins;
  }

  .small_typo {
    color: #717171;
    font-size: 16px;
    font-family: Poppins;
  }

  .main_container {
    border: 2px solid red;
    /* margin: 1rem; */
    flex: 0 0 95%;
    max-width: 95%;
    display: flex;
    overflow: hidden;
  }

  .box {
    background-color: #fff;
    padding: 10px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);
  }

  .flex_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .boxOne {
    width: 16rem;
    height: 6rem;
    padding: 30px;
  }

  .boxTwo {
    width: 16rem;
    height: 6rem;
    padding: 30px;
    flex-direction: row;
    align-items: center;
  }

  .boxTwo img {
    width: 70.118px;
    height: 10.118px;
  }

  .bio_container {
    width: 750px;
    height: 411px;
  }

  .personal_information {
    width: 750px;
    flex-shrink: 0;
  }

  .bio_information {
    width: 750px;
    flex-shrink: 0;
    height: 340px;
  }

  .view_profile {
    height: 436px;
    flex-shrink: 0;
    border: 1px solid #dcdcdc;
  }

  .view_profile_name_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right_profile_text {
    align-items: center;
  }

  .right_profile_text h2 {
    color: #000;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 500;
    display: flex;
  }

  .profile_btn {
    width: 90%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fd5901;
    color: #fff;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 500;
    border: none;
  }

  .manage_acount_btn {
    background: #c9c9c9 !important;
  }

  /* loop starts */
  .loop_container {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background: #eaeef2;
  }

  .loop_title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .right_view_profile_card {
    border-radius: 20px;
  }

  .right_loop_card {
    width: 90%;
  }

  .right_view_profile {
    width: 100%;
  }

  .right_view_profile_card .card-header {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px;
  }

  .right_view_profile_card .card-body h5 {
    color: #000;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 500;
  }

  .input-group {
    position: relative;
  }

  .input-group input {
    height: 2rem;
  }

  .input-group input::placeholder {
    font-size: 0.8rem;
  }

  .send-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #000;
    color: #fff;
  }

  /* loop ends */

  /* recommendation_card */
  .recommendation_card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .recommendation_card_body {
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }

  .recommendation_card_body img {
    width: 30px;
  }

  .recommendation_card_text h3 {
    color: #484848;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 600;
  }

  .recommendation_card_text button {
    width: 89px;
    height: 29px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #acacac;
    color: #000;
    font-size: 13px;
    font-family: Poppins;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }

  .recommendation_card_text button img {
    width: 13px;
  }

  .recommendation_card hr {
    margin: 0px 5%;
  }

  /* recommendation_card ends */
  .image_name_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .image_name_section img {
    width: 90px;
    height: 90px;
  }

  .connect_btn {
    display: flex;
    justify-content: end;
  }

  .connect_btn button {
    width: 9rem;
    height: 48px;
    flex-shrink: 0;
    border-radius: 131px;
    background: #505050;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
  }

  .divider_hr {
    color: #000000;
    height: 2px;
    flex-shrink: 0;
    border: 1px solid rgba(80, 80, 80, 0.2);
    width: 90%;
    opacity: 0.5;
    margin: auto;
    margin-top: 2rem;
  }

  .designation_list {
    color: #000;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    padding-right: 50px;
  }

  table tr td {
    padding-bottom: 1rem;
  }

  .personal_information_header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  }

  .personal_information_header button {
    border-radius: 131px;
    border: 1px solid #c6c6c6;
    width: 107px;
    height: 35px;
    flex-shrink: 0;
    color: #717171;
    font-size: 18px;
    font-family: Poppins;
    cursor: pointer;
  }

  .designation_info {
    margin-left: 1rem;
  }

  .designation_see_more {
    display: flex;
    justify-content: end;
    padding: 1rem;
  }

  .designation_see_more a {
    color: #717171;
    font-size: 16px;
    font-family: Poppins;
    list-style: none;
    text-decoration: none;
  }

  .milestone_see_more a {
    color: #717171;
    font-size: 16px;
    font-family: Poppins;
    list-style: none;
    text-decoration: none;
  }

  /* company details card start*/
  .company_details {
    /* height: 400px; */
  }

  .company_details_logo_container {
    height: 135px;
    width: 150px;
    border-radius: 60%;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .company_details p {
    color: #595959;
    font-size: 16px;
    font-family: Poppins;
    line-height: 150%;
    letter-spacing: 0.76px;
  }

  .company_details_image_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .location_icon img {
    height: 22px;
    width: 22px;
  }

  .location_icon {
    color: #595959;
    font-size: 13px;
    font-family: Poppins;
  }

  .social_icon img {
    height: 24px;
    width: 24px;
    margin-right: 22px;
  }

/* company details card ends*/