.webdevlopment_main_container {
    .container {
      a {
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: absolute;
        text-decoration: none;
  
        img {
          width: 8.495px;
          height: 15.109px;
          flex-shrink: 0;
          margin-right: 5px;
        }
      }
  
      .heading_section_fund {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
  
        h1 {
          color: #000;
          font-family: Poppins;
          font-size: 30px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .para-image {
          display: flex;
          .para {
            p {
              color: #343434;
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              text-align: start;
            }
          }
          .image-sec {
            img {
              margin-top: -16%;
            }
          }
        }
  
        .title_and_image {
          display: flex;
          align-items: center;
          position: relative;
          margin-bottom: 10px;
          margin-top: 5%;
  
          img {
            margin-right: 10px;
            width: 32px;
            height: 32.36px;
          }
  
          h2 {
            position: relative;
          }
  
          &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #fd5901;
          }
        }
      }
      .explore_service {
        h1 {
          color: #000;
          font-family: Poppins;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
  
        .card-section {
          display: flex;
          max-width: 100%;
          max-height: 100%;
          justify-content: center;
          margin-bottom: 5%;
  
          .card {
              height: 140px;
              width: 160px;
              margin-right: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 10px;
              border: 1px solid #EBEBEB;
              background: #FCFDFF;
              box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.07);
  
              img {
  
                  height: 72px;
                  width: 72px;
              }
  
              p {
                  color: #485B65;
                  font-family: Poppins;
                  font-size: 12.494px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  text-align: center;
              }
          }
  
          .card:nth-child(1) {
              margin-left: 50px;
          }
  
  
      }
  
      }
  
      .list_section {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 40px;
  
          li {
            display: flex;
            // align-items: center;
            margin-bottom: 20px;
            color: #343434;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
  
            img {
              margin-right: 20px;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .webdevlopment_main_container {
      .container {
        a {
          color: #000;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          position: absolute;
          text-decoration: none;
          top: 12%;
  
          img {
            width: 6.495px;
            height: 10.109px;
            flex-shrink: 0;
            margin-right: 5px;
          }
        }
  
        .heading_section_fund {
          h1 {
            font-size: 28px;
            margin-top: 20px;
          }
  
          p {
            font-size: 14px;
          }
  
          .title_and_image {
            img {
              margin-right: 8px;
              width: 32px;
              height: 32.36px;
            }
  
            h2 {
              position: relative;
              font-size: 20px;
            }
          }
        }
  
        .list_section {
          ul {
            li {
              font-size: 14px;
  
              img {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }
  