.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

input.visually-hidden:is(:focus, :focus-within) + label {
  color: rgba(140, 90, 201, 1);
}

.upload__label {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.25em dotted rgba(140, 90, 201, 1);
  border-radius: 15px;
  background-color: rgba(140, 90, 201, 0.2);
  cursor: pointer;
  color: var(--d-l-grey);

  label {
    font-size: 0.75rem;
    cursor: pointer;
  }
}

.modal__input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;

  &:focus {
    border-color: rgba(140, 90, 201, 1);
  }
}

.company_exsisting__container {
  .search-company-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .suggestion {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;

    &::-webkit-scrollbar {
      width: 8px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(211, 243, 107, 0.2);
      border-radius: 10rem;

      &:hover {
        background-color: rgba(211, 243, 107, 1);
      }
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 10rem;
    }
  }

  .suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }

  .suggestion-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  .suggestion-item:hover {
    background-color: #c3c3c3;
    color: var(--currentTheme-text);
  }

  .suggestion-item.active {
    background-color: #c3c3c3;
    color: var(--currentTheme-text);
  }

  .suggestion button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }

  .suggestion button:hover {
    background-color: #0056b3;
  }

  .suggestion button {
    display: block;
    margin: 0 auto;
  }

  .or-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn-base {
    // margin-top: 30px;
    border: none;
    border-radius: 8px;

    font-size: 16px;
    line-height: 16px;
    text-align: center;
    padding: 0.75em 2.5em;

    &:active {
      transition: transform 0.15s ease-in-out;
      transform: scale(0.95);
    }

    &.startup {
      background-color: #fd5901;
      color: white;
    }

    &.investor {
      background-color: #d3f36b;
      color: black;
    }
  }
}
