.help-cards {
  display: flex;
  gap: 40px;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

  .help-card:nth-child(2) {
    background-color: var(--color-helpCard-dark);
    color: white;
  }
  .help-card:nth-child(4) {
    background-color: var(--color-helpCard-dark);
    color: white;
  }
  .help-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: var(--border-radius);
    width: 300px;
    // height: 330px;
    min-height: 280px;
    padding: 20px 30px 40px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;

    p.count {
      font-size: 18px;
      font-weight: 600;
      align-self: start;
    }

    h6.title {
      font-weight: 600;
      text-align: center;
      height: 40px;
      width: 80%;
      font-size: 22px;
      line-height: 1.3;
    }

    p {
      text-align: center;
      font-size: 14px;
    }

    .LinkBtn {
      margin-top: auto;
      border-radius: 50px;
      background-color: white;
      color: #0d224e;
      padding: 5px 20px;
      font-size: 14px;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 0.5px;
      &-blue {
        background-color: #152e64;
        color: white;
      }
      &:hover {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
      &:active {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px inset;
      }
    }
  }
}
