.team__cards__container {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 8px;

    &-track {
      border-radius: 10rem;
      background-color: rgb(253, 89, 1, 0.2);
      margin-inline: 10dvw;
    }

    &-thumb {
      border-radius: 10rem;
      background-color: rgb(253, 89, 1, 0.8);
    }
  }
}

.team__cards__container.investor {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 8px;

    &-track {
      border-radius: 10rem;
      background-color: rgba(178, 204, 93, 0.2);
      margin-inline: 10dvw;
    }

    &-thumb {
      border-radius: 10rem;
      background-color: rgba(178, 204, 93, 0.8);
    }
  }
}

.add_button {
  border-radius: 5px;
  background: #fd5901;
  border: 1px solid #fd5901;
  padding: 8px 25px;
  width: auto;
  font-size: 14px;
  color: white;

  &:active {
    transform: scale(0.95);
  }
}

.add_button.investor {
  background-color: rgba(211, 243, 107, 1);
  border: 1px solid rgba(211, 243, 107, 1);
  color: black;
}

.orange__heading {
  color: #fd5901;

  &.investor {
    color: black;
  }
}

.addCoreTeamModal__container {
  .modal {
    margin-top: 20%;

    @media (min-width: 500px) {
      margin-top: 15%;
    }

    @media (min-width: 575px) {
      margin-top: 13.5%;
    }

    @media (min-width: 768px) {
      margin-top: 10%;
    }

    @media (min-width: 769px) {
      margin-top: 0;
    }
  }

  .team_member_modal {
    .edit_remove_team {
      flex: 0 0 45%;
      scrollbar-gutter: stable;
    }

    .add_team {
      flex: 0 0 45%;
    }
  }

  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  input.visually-hidden:is(:focus, :focus-within) + label {
    color: rgba(253, 89, 1, 1);
  }

  .upload__label {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.25em dotted rgba(253, 89, 1, 1);
    color: #fd5901;
    border-radius: 50%;
    background-color: rgba(253, 89, 1, 0.2);
    cursor: pointer;

    label {
      font-size: 0.75rem;
      cursor: pointer;
    }

    &.investor {
      border: 0.25em dotted black;
      color: black;
      background-color: rgba(211, 243, 107, 1);
    }
  }

  .modal__input {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 0.3s ease-in-out;
    &:focus {
      border: 1px solid #fd5901;
    }

    &.investor {
      &:focus {
        border: 1px solid rgba(178, 204, 93, 0.8);
      }
    }
  }

  .modal_edit_btn {
    outline: none;
    border: none;
    background-color: #fd5901;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);

    &:active {
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
    }

    svg {
      fill: #fd5901;
      stroke: #fafafa;
      height: 1.5rem;
      width: 2rem;
    }

    &.investor {
      background-color: rgba(211, 243, 107, 1);

      svg {
        fill: rgba(211, 243, 107, 1);
        stroke: black;
      }
    }
  }

  .modal_delete_btn {
    outline: none;
    border: none;
    background-color: #555;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);

    &:active {
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
    }

    svg {
      fill: white;
      // stroke: #fafafa;
      height: 1.5rem;
      width: 2rem;
    }
  }

  .orange_button {
    border-radius: 5px;
    background: #fd5901;
    border: 1px solid #fd5901;
    padding: 8px 25px;
    width: auto;
    font-size: 14px;
    color: white;

    &.investor {
      background: rgba(211, 243, 107, 1);
      border: 1px solid rgba(211, 243, 107, 1);
      color: black;
    }
  }
}
