.orange_button {
  border-radius: 5px;
  background: #fd5901;
  border: 1px solid #fd5901;
  padding: 8px 25px;
  width: auto;
  font-size: 14px;
  color: white;

  &:active {
    transform: scale(0.95);
  }
}

.orange__heading {
  color: #fd5901;
}

.addCoreTeamModal__container {
  .team_member_modal {
    .edit_remove_team {
      flex: 0 0 45%;
      scrollbar-gutter: stable;
    }

    .add_team {
      flex: 0 0 45%;
    }
  }

  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  input.visually-hidden:is(:focus, :focus-within) + label {
    color: rgba(253, 89, 1, 1);
  }

  .upload__label {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.25em dotted rgba(253, 89, 1, 1);
    color: #fd5901;
    border-radius: 50%;
    background-color: rgba(253, 89, 1, 0.2);
    cursor: pointer;

    label {
      font-size: 0.75rem;
      cursor: pointer;
    }
  }

  .modal__input {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 0.3s ease-in-out;
    &:focus {
      border: 1px solid #fd5901;
    }
  }

  .modal_edit_btn {
    outline: none;
    border: none;
    background-color: #fd5901;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);

    &:active {
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
    }

    svg {
      fill: #fd5901;
      stroke: #fafafa;
      height: 1.5rem;
      width: 2rem;
    }
  }
}
