.card-component {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  width: 23%;
  flex-shrink: 0;
  border-radius: 10px;
  border: 0.517px solid #dcdcdc;
  background: #bb98ff;
  box-shadow: 2.0674986839294434px 2.0674986839294434px 3.101248025894165px 0px
    rgba(0, 0, 0, 0.05);

  .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;

    .title {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
    }

    .rupee-sign {
      font-size: 18px;
      margin-top: 5px;
    }
  }

  .right-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
