.text-list {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .list-item {
    h5,
    p {
      display: inline;
    }
  }
}

.capital-link {
  text-decoration: none;
  color: rgba(253, 89, 1, 1);
}
