.personCard__container {
  border: 1px solid #e0e0e0;
  flex: 0 0 20rem;
  scroll-snap-align: start;

  box-shadow: 6.93333px 6.93333px 52px 0px rgba(211, 243, 107, 0.1);
}

.card__head {
  img {
    width: 45px;
    height: 45px;
  }
}

.card__head__name {
  color: #000;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.age {
  color: #989898;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__body {
  p {
    color: #4e4e4e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.connectNow {
  width: fit-content;
  p {
    font-size: 12px;
  }
}
