.personCard__container {
  border: 1px solid #e0e0e0;
  flex: 0 0 20rem;
  scroll-snap-align: start;
background-color: var(--bs-light);
  box-shadow: 7px 0px 30px 0px var(--bs-box-shadow-lg);
}

.card__head {
  img {
    width: 45px;
    height: 45px;
  }
}

.card__head__name {
  color: #000;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.age {
  color: #989898;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__body {
  p {
    color: #4e4e4e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .person_text {
    flex: 0 0 50%;
  }
}

.designation {
  font-size: 13px;
}

.connectNow {
  // &:hover {
  //   color: white;
  //   transition: all 0.2s ease-in-out;
  //   p {
  //     transition: all 0.2s ease-in-out;

  //     color: white;
  //   }
  // }

  width: fit-content;

  p {
    font-size: 12px;
    color: inherit;
  }
}
