.landing-page {
  .frist-section {
    background-color: #e6e8dd;
    border-radius: 30px;
    margin: 20px;
    padding: 15px;
    position: relative;

    .left-section {
      width: fit-content;

      // flex-wrap: wrap;
      h1 {
        font-size: 60px;
        font-weight: 800;
      }

      .text-orange {
        color: #ff7a00;
      }

      button {
        background: #ff7a00;
        border-radius: 40px;
        padding: 10px 30px;
        color: white;
        outline: none;
        width: max-content;
        border: none;

        &:hover {
          background-color: #f19f52;
          color: white;
        }
      }
    }

    .right-section {
      img {
        width: 70%;
      }
    }
    .down-arrow{
width: 45px;
height: 60px;
position: absolute;
bottom: -30px;
left: 42%;
margin: 10px;
    }
  }

  .second-section {
    gap: 20px;
    margin-bottom: 50px;

    h3 {
      color: #ff7a00;
    }

    h1 {
      font-size: 50px;
      font-weight: 600;
      text-align: center;
    }

    p {
      text-align: center;
    }

    .main-box {
      width: 75%;
      gap: 50px;

      .inner-box {
        background-color: #d8d8d8;
        display: flex;
        flex-direction: column;
        text-align: start;
        border-radius: 15px;
        padding: 10px;

        h5 {
          font-weight: 800;
        }

        img {
          width: 120px;
          height: 100px;
          margin: auto;
        }

        p {
          text-align: start;
        }
      }
    }
  }

  .third-section {
    background-color: #383838;
    align-items: center;

    .left-section {
      margin: 15px;

      h6 {
        color: #ff7a00;
      }

      h1 {
        color: white;
      }

      span {
        color: #ff7a00;
      }

      p {
        color: white;
      }

      button {
        background: #ff7a00;
        border-radius: 40px;
        padding: 10px 30px;
        color: white;
        outline: none;
        width: max-content;
        border: none;

        &:hover {
          background-color: #f19f52;
          color: white;
        }
      }
    }

    .right-section {
      display: flex;
      justify-content: center;
    }
  }

  .forth-section {
    h4 {
      color: #ff7a00;
    }

    .inner {
      .right-section {
        h1 {
          font-size: 50px;
          font-weight: 600;
        }

        button {
          background: #ff7a00;
          border-radius: 40px;
          padding: 10px 30px;
          color: white;
          outline: none;
          width: max-content;
          border: none;

          &:hover {
            background-color: #f19f52;
            color: white;
          }
        }
      }
    }
  }

  .two-scroll-section {
    h1 {
      margin-left: 20px;
      font-weight: 600;
      font-size: 48px;
    }
    button {
      background: #ff7a00;
      border-radius: 40px;
      padding: 10px 30px;
      color: white;
      outline: none;
      width: max-content;
      border: none;

      &:hover {
        background-color: #f19f52;
        color: white;
      }
    }
  }

  .fifth-section {
    background-color: #383838;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    h1 {
      font-weight: 600;
      font-size: 48px;
    }
    span {
      color: #ff7a00;
    }
  }

  .last {
    .input-div {
      width: 100%;
      input {
        border: none;
        outline: none;
      }
      button {
        background: #ff7a00;
        border-radius: 40px;
        padding: 10px 30px;
        color: white;
        outline: none;
        width: max-content;
        border: none;

        &:hover {
          background-color: #f19f52;
          color: white;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .landing-page {
    .frist-section {

      .down-arrow{
        width: 45px;
        height: 60px;
        position: absolute;
        bottom: -30px;
        left: 48.5%;
        margin: 10px;
            }
    }
    .two-scroll-section{
      h1{
        margin: 30px;
      }
    }
    .last {
      .input-div {
        width: 25%;
      }
    }
  }
}
