.onePager_team_member {
  flex: 0 0 23rem;
  box-shadow: 4px 4px 30px 0px rgba(234, 238, 242, 0.5);
  box-shadow: var(--bs-box-shadow-sm);
  background-color: var(--bs-light);
  color: var(--d-l-grey);
}
