.newCommunity__modal {
  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  input.visually-hidden:is(:focus, :focus-within) + label {
    color: rgba(253, 89, 1, 1);
  }

  .upload__label {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.25em dotted rgba(253, 89, 1, 1);
    color: #fd5901;
    border-radius: 50%;
    background-color: rgba(253, 89, 1, 0.2);
    cursor: pointer;

    label {
      font-size: 0.75rem;
      cursor: pointer;
    }

    &.investor {
      border: 0.25em dotted #d3f36b;
      color: black;
      background-color: #d3f36baa;
    }
  }

  .modal__input {
    background-color: #fafafa;
    outline: 0;
    border: 1px solid #e7e7e7;
    transition: border 0.3s ease-in-out;

    &:focus {
      border: 1px solid #fd5901;
    }

    &.investor:focus {
      border: 1px solid #98b445;
    }
  }

  .search__members {
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:focus-within {
      transition: border 0.3s ease-in-out;
      border: 1px solid #fd5901;
    }

    &.investor:focus-within {
      border: 1px solid #98b445;
    }
  }

  .orange_button {
    border-radius: 5px;
    background: #fd5901;
    border: 1px solid #fd5901;
    padding: 8px 25px;
    width: auto;
    font-size: 14px;
    color: white;

    &:active {
      transform: scale(0.95);
    }

    &.investor {
      background: #d3f36b;
      border: 1px solid #d3f36b;
      color: black;
    }
  }

  .cancel_button {
    border-radius: 5px;
    background: #e9e9e9;
    border: 1px solid #e9e9e9;
    padding: 8px 25px;
    width: auto;
    font-size: 14px;

    &:active {
      transform: scale(0.95);
    }
  }

  img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

  .success-message {
    color: green;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }

  .contacts-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 5px;
  }
}

.added-members {
  margin-top: 10px;
}

.added-members-list {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.added-members-list strong {
  font-weight: bold;
}

.added-members-list ul {
  list-style: none;
  padding: 0;
}

.added-members-list li {
  margin: 5px 0;
  font-size: 14px;
}
