.view_meeting_modal_wrapper {
  .meeting-request {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; /* Change to a column layout */
    gap: 1rem;
    margin-bottom: 15px;
    padding: 20px;
  }

  // .request-name {
  //   font-size: 1.2rem;
  // }

  .request-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .request-dates {
    font-size: 1rem;
    color: #777;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .create_button {
    border: 1px solid rgb(211, 243, 107);
    border-radius: 10px;

    background-color: rgb(211, 243, 107);
    color: black;

    font-size: 1rem;
    line-height: 0.75rem;
    text-align: center;

    padding: 1em 1.5em;

    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .view_button {
    border: 1px solid rgb(185, 186, 183);
    border-radius: 10px;
    // margin-right: 10px;
    background-color: rgb(157, 158, 155);
    color: #fff;

    font-size: 1rem;
    line-height: 0.75rem;
    text-align: center;

    padding: 1em 1.5em;
  }

  // .modal {
  //   margin-top: 20%;

  //   @media (min-width: 500px) {
  //     margin-top: 15%;
  //   }

  //   @media (min-width: 575px) {
  //     margin-top: 13.5%;
  //   }

  //   @media (min-width: 768px) {
  //     margin-top: 10%;
  //   }

  //   @media (min-width: 769px) {
  //     margin-top: 0;
  //   }
  // }

  .grow_in {
    animation: growIn 0.25s linear forwards;
  }

  // Grow in animation
  @keyframes growIn {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }
}
