.investor_view_container {
  display: flex;
  background-color: #eaeef2;
  margin: 0;
  position: relative;

  .sidebar {
    // width: 300px;
    background-color: #eaeef2;
    position: fixed;
    top: 11.5%;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: width 0.3s ease;
    overflow: scroll;

    // Add class for sidebar in fixed position
    &.fixed {
      position: absolute;
      top: auto;
      bottom: 0;
    }
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .content {
    flex: 1;
    margin-left: 250px;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
    // margin-top: 5%;
    margin-top: 90px;
    border-radius: 25px;
  }

  // Add a class to handle the sidebar collapsed state
  &.sidebar-collapsed {
    .sidebar {
      width: 65px;
    }

    .content {
      margin-left: 65px;
    }
  }
}
