.companyDetailsContainer {
    display: flex;
    background: black;
    height: 200px;
    align-items: center;
    gap: 15px;
    width: 90%;
    padding: 20px;
    color: white;
    .pfp {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.17);
        background: rgba(159, 159, 159, 0.19);
        height: 100%;
        justify-content: center;
        gap: 30px;
        p {
            font-size: 12px;
        }
    }
    .details {
        width: 70%;
    }
}
