.questionnaire_wrapper {
  --color-main-investor: #d3f36b;
  --color-main-startup: rgba(253, 89, 1, 1);
  --color-text-investor: #000;
  --color-text-startup: #fff;
  // --color-text: #fff;
  --color-shadow: rgba(0, 0, 0, 0.05);

  .offcanvas {
    --bs-offcanvas-width: min(95dvw, 600px);
  }

  //   component styles

  .chat_col {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10rem;
      background-color: var(--color-main);
    }

    &::-webkit-scrollbar-track {
      border-radius: 10rem;
      background-color: transparent;
    }
  }

  .chat_box {
    // min-height: 65px;
    margin-inline: 16px;
    padding: 8px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.05);
  }

  .category_button {
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
    color: var(--color-text);
    padding: 1em 2em;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 0.85rem;
    width: fit-content;

    &:active {
      transform: scale(0.98);
    }
  }

  .option_button {
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(96, 96, 96, 0.19);
    color: rgba(121, 121, 121, 1);
    background-color: transparent;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    line-height: normal;

    padding: 0.75em 1.5em;
    border-radius: 10rem;

    &:hover {
      border: 1px solid var(--color-main);
      background-color: var(--color-main);
      color: var(--color-text);
    }

    &.selected {
      border: 1px solid var(--color-main);
      background-color: var(--color-main);
      color: var(--color-text);
    }

    &.back_button {
      border: 1px solid transparent;
      background-color: #444;
      color: #fff;

      &:hover {
        color: var(--color-main);
      }
    }
  }

  .select_badge {
    width: 20px;
    height: 20px;
    background-color: #444;
    border-radius: 50%;

    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: var(--color-main);
    }
  }

  .current_question {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:empty,
    &>div:empty {
      display: none !important;
    }
  }

  .answer_box {
    align-self: flex-end;
    margin-inline: 16px;
    padding-inline: 1em;
    padding-block: 1em;
    border: 1px solid var(--color-main);
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.05);

    background-color: var(--color-main);
    color: var(--color-text);
  }

  // User Input
  .user_input_container {
    margin-top: 5em;
  }

  .user_input {
    background-color: #efefef;
    outline: 0;
    width: 100%;
    resize: none;
  }

  .send_btn {
    flex: 0 0 70px;
    height: 70px;
    background-color: var(--color-main);
    border: 1px solid transparent;
    border-radius: 50%;

    &:active {
      transform: scale(0.98);
    }
  }

  .color_main {
    color: var(--color-main);
  }
}

.questionnaire_wrapper[theme="investor"] {
  --color-main: var(--color-main-investor);
  --color-text: var(--color-text-investor);
  --color-shadow: rgba(0, 0, 0, 0.05);
}

.questionnaire_wrapper[theme="startup"] {
  --color-main: var(--color-main-startup);
  --color-text: var(--color-text-startup);
  --color-shadow: rgba(0, 0, 0, 0.05);
}