.startup_sidebar {
  width: auto;
  margin: 0;
  padding: 0;
  transition: all 1000ms ease-in-out !important;

  .sidebar-main {
    width: 20%;
    height: 100vh;
    background-color: #ffffff;
    position: absolute;
    border-radius: 8px 8px 8px 0px;
    border: 2px solid red;
  }

  .pro-sidebar .pro-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #20315f;
  }

  .hr-above-support {
    color: rgba(173, 173, 173, 0.2);
    border: 1px solid rgba(173, 173, 173, 0.2);
  }

  .pro-item-content {
    display: contents;
    justify-content: center;
    align-items: center;
  }
  .pro-item-content a img {
    height: 20px;
  }
  .pro-item-content span {
    margin-left: 24px;
    font-weight: 400;
  }

  #header {
    width: max-content;
    max-width: 220px;
    overflow: hidden;
    transition: all 1000ms ease-in-out;

    .pro-sidebar {
      width: 100%;
      min-width: 100%;
      overflow-y: auto;
      max-height: 80vh;
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(
          211,
          211,
          211,
          0.555
        ); /* Set the background color for the thumb (the draggable part) */
      }
    }

    .pro-sidebar.collapsed {
      width: 65px;
      min-width: 40px;
    }
    .pro-sidebar-inner {
      border-radius: 20px;
      background-color: white;
      box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
    }
    .pro-sidebar-inner .pro-sidebar-layout {
      overflow-y: hidden;
    }
    .pro-sidebar-inner .pro-sidebar-layout .logotext p {
      font-size: 20px;
      padding: 0 20px;
      color: #000;
      font-weight: bold;
    }
  }

  .close-menu {
    position: sticky;
    z-index: 1051 !important;
    top: 4.7rem;

    display: flex;
    justify-content: end;

    transition: all 500ms ease-in-out !important;
    &.close-btn-collapsed {
      top: 20px;
      height: 25px;
      img {
        height: 25px;
      }
    }
  }

  .logotext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;

    h3 {
      height: 23px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 1rem !important;
      line-height: 22px;
      /* identical to box height */

      color: #000000;
    }
    h4 {
      margin: 0;
      font-size: 12px !important;
      margin-bottom: 20px;
    }
  }

  .create_post {
    height: 40px;
    border: none;
    background: #fd5901;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }
  .create_post img {
    height: 15px !important;
    margin-left: 5px;
  }
  .plus_btn {
    width: 40px;
    height: 40px;
    left: 90px;
    top: 329px;
    border: none;
    background: #fd5901;
    border-radius: 10px;
    margin-left: -7px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    /* padding: 0 5px; */
    margin: auto;
  }

  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
    justify-content: flex-start;
  }

  #header
    .pro-sidebar-inner
    .pro-sidebar-layout
    ul
    .pro-inner-item
    .pro-icon-wrapper {
    background-color: #fbf4cd;
    color: #000;
    border-radius: 3px;
  }

  #header
    .pro-sidebar-inner
    .pro-sidebar-layout
    ul
    .pro-inner-item
    .pro-icon-wrapper
    .pro-item-content {
    color: #000;
  }

  #header .pro-sidebar-inner .pro-sidebar-layout .active {
    background-image: linear-gradient(0deg, #eef2f3 0%, #eef2f3 100%);
  }

  #header .pro-sidebar-inner .pro-sidebar-layout .active-item {
    /* height: 48px; */
    /* width: 48px; */
    /* border-radius: 50%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 1px;
  }

  #header .logo {
    padding: 20px;
  }

  // CSS for Community in sidebar
  .sidebar__community {
    details {
      font-size: inherit;
      font-weight: 400;
      color: #20315f;
      position: relative;

      summary {
        list-style-type: none;
        font-size: inherit;
        color: inherit;
        transition: margin 0.15s ease-out;
      }

      &[open] summary {
        margin-bottom: 10px;
        color: #fd5901;
      }

      .sidebar__community__btn {
        outline: none;
        border: none;
        background-color: transparent;
        padding-block: 0.25em;
        padding-inline: 0;

        color: #fd5901;
        font-size: 0.85rem;
        font-weight: 500;
        text-align: left;
      }
    }

    // For responsiveness of Modal component
    .modal {
      margin-top: 20%;

      @media (min-width: 500px) {
        margin-top: 15%;
      }

      @media (min-width: 575px) {
        margin-top: 13.5%;
      }

      @media (min-width: 768px) {
        margin-top: 10%;
      }

      @media (min-width: 769px) {
        margin-top: 0;
      }
    }
  }
}
