.companyProfilePage__wrapper {
  margin-inline: 1.5em;
  margin-block: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .main__content {
    max-width: calc(100% - 26rem);
    // border: 1px solid red;

    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .right__content {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      flex: 0 0 24rem;
    }
  }
}

.orange {
  color: #fd5901;
}
