.companyProfilePage__wrapper {
  margin-inline: 1.5em;
  margin-block: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .main__content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .right__content {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      flex: 0 0 24rem;
    }
  }
}

.box {
  background-color: #fff;
  padding: 10px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);
}

.edit__btn {
  border-radius: 131px;
  border: 1px solid #c6c6c6;
  width: 107px;
  height: 35px;
  flex-shrink: 0;
  color: #717171;
  font-size: 18px;
  cursor: pointer;
}

.see__more {
  color: #717171;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

.orange {
  color: #fd5901;
}

.position-relative {
  position: relative;
}

.upload__label {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  border: 2px solid rgba(253, 89, 1, 1); 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  cursor: pointer;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 50%;
}
