.subscriber_modal-header {
    padding: 10px;
  }

.subscription_head {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center; // Center the text horizontally
  
    span {
      text-align: center;
  
      h2 {
        font-size: 1.5rem;
        font-family: Poppins, sans-serif;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 1.144px;
        margin: 0;
        color: #ffffff;
      }
  
      h6 {
        color: #999;
        font-size: 1rem;
        font-family: Poppins, sans-serif;
        line-height: 160%;
        letter-spacing: 0.572px;
        margin-top: 10px;
      }
    }
  }
  
  .pricing_plans {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
  
    .plan {
      background: #444;
      padding: 20px;
      border-radius: 10px;
      width: 30%;
      margin: 10px;
      text-align: center;
      color: white;
      
      &:hover{
        background: #555;
      }
  
      .headingContent {
        font-size: 1.3rem;
        margin-bottom: 10px;
        border: none;
        text-align: start;

      }
  
      .price {
        font-size: 1rem;
        text-align: start;

        span{
            font-size: 0.8rem;
        }
      }
  
      .features {
        text-align: left;
        margin-bottom: 20px;

      }
  
      .purchase_button {
        background: transparent;
        color: white;
        padding: 10px 20px;
        border: 2px solid #fff;
        border-radius: 30px;
        cursor: pointer;
        transition: background 0.3s;
  
        &:hover {
        color: black;
        background: #adff2f;
        border: 2px solid #adff2f;
        }
      }
    }
  
    .plan {
      background: #444;
      &:hover{
        background: #555;
      }
    }

  }
  
  .subscriber-background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 9999;
  }
  
  .subscriber_post_modal {
    --offset: 3px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    position: fixed;
    width: 75vw;
    min-height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 85%;
    z-index: 10000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /* Conic gradient */
    // &::before {
    //   content: '';
    //   background: conic-gradient(transparent 270deg, white, transparent);
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   aspect-ratio: 1;
    //   width: 100%;
    //  // animation: rotate 2s linear infinite;
    // }
  
    // /* Overlay */
    // &::after {
    //   content: '';
    //   background: inherit;
    //   border-radius: inherit;
    //   position: absolute;
    //   inset: var(--offset);
    //   height: calc(100% - 2 * var(--offset));
    //   width: calc(100% - 2 * var(--offset));
    // }
  
    .modal-content {
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
  
    .modal-body {
      min-height: 75vh;
      overflow-y: scroll;
        /* Hide scrollbar */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
  }
  
  .upgrade_button {
    background: #adff2f;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 20px auto 0;
    margin-bottom: 20px;
    width: 23vw;
  
    &:hover {
      background: #9de02f;
    }
  }
  
  .closebar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s;
  
    &:hover {
      transform: rotate(180deg);
    }
  }
  
  @media (max-width: 1024px) {
    .subscriber_post_modal {
      width: 90vw;
    }
  
    .pricing_plans .plan {
      width: 45%;
      margin: 10px auto;
    }
  }
  
  @media (max-width: 768px) {
    .subscriber_post_modal {
      width: 95vw;
      height: 95vh;
    }
  
    .pricing_plans {
      flex-direction: column;
      align-items: center;
  
      .plan {
        width: 90%;
        margin: 10px 0;
      }
    }
  
    .upgrade_button {
      width: 90%;
    }
  }

  // @keyframes rotate {
  //   from {
  //     transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  //   }
  
  //   to {
  //     transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  //   }
  // }
  