.half_bend_container {
  margin-bottom: 1rem;
  .box_container {
    // width: 750px;
    background-color: #fff;
    border-radius: 40px;
    background: #fff;
    // box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);

    .custom-card {
      padding: 20px 5px;
      margin-bottom: 10px;
      border-radius: 20px;
      border: 1px solid #ccc;
      position: relative;
      overflow: hidden;
      width: 200px;
      
      // border-top-right-radius: 60px;
.inner_img{
  width: 100%;
  height: 150px;
}
      .top-right-radius {
        position: absolute;
        top: 10px;
        left: 1px;
        right: 0;
        border-top-right-radius: 20px;

        img {
          padding: 20px;
        }
      }

      .card-body {
        padding: 1rem 0.5rem;

        .card-title {
          font-size: 16px;
        }
      }

      .bottom-black-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background-color: #000;

        p {
          color: #fff;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-left: 10px;
          margin-top: 5px;
        }
      }
    }


    .main_col {
      flex-direction: column;
      padding: 20px;
    }
    .delete-img{
      width: 15px;
      height: 15px;
      margin-left: 5px;
    }
    .pdfIcon-img{
      width: 25px;
      height: 25px;
      margin-top: -6px;
    }
  }
}

@media (max-width: 820px) {
  .half_bend_container {
    .box_container {
      width: 100%;
    }
  }
}
