.filter_by_select {
  .select{
    width: 100%;
    background:var(--bs-light);
  }
  select {
    width: 100%;
    font-size: 16px;
    border: none;
    // background-color: #ebebeb;
    background:var(--bs-light);

    border-radius: 10px;
    padding: 1em 0.5em;
    outline: none;
  }
}
