$primary-color: #fd5901;
$secondary-color: #1b2430;


.row {
  margin: 0;

  .buttons_row {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    gap: 10px;
  }

  .section_container {
    margin: 20px;
    overflow: hidden;

    h1 {
      background-color: #EAEAEA;
      width: 30%;
      font-family: Poppins;
      font-size: 44px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;
      margin: 0px;
      display: flex;
      justify-content: center;
      padding: 10px;
      border: 1px solid #EAEAEA;
      background: #EAEAEA;
      box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.10);
      border-bottom: none;
    }

    .welcome_section {
      background-color: #EAEAEA;
      position: relative;
      padding: 20px;
      border: 1px solid #EAEAEA;
      background: #EAEAEA;
      box-shadow: 4px 4px 10px 0px rgba(152, 152, 152, 0.1);

      &::before {
        content: "";
        position: absolute;
        left: 30px;
        top: 20px;
        height: 80%;
        width: 5px;
        background-color: #FD5901;
        border-radius: 8px;
      }

      h6 {
        margin-left: 30px;
      }
    }
  }

  .welcome_section {
    position: relative;
    padding-left: 20px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      height: 90%;
      width: 5px;
      background-color: #FD5901;
      border-radius: 8px;
    }

  }

  .welcome_section h6 {
    color: #414141;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
  }

}

.b {
  border: 2px solid red;
}

.title__text {
  h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 170%;
    margin-top: 75px;
    width: 100%;
  }

  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
  }
}

.image_section {
  img {
    width: 100%;

  }
}

.btn1 {
  background: #fd5901;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: #fd5901;
  color: #fff;
  width: 210px;
  height: 60px;
}

.btn2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 40px;
  border: 2px solid #000000;
  border-radius: 50px;
  background: transparent;
  width: 210px;
  height: 60px;

  &:hover {
    background: transparent;
    color: #000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
}



/* one Link section */
.onelink_container {
  .onelink_img {
    img {
      height: 730px;
      width: 100%
    }
  }

  .title_text {
    h1 {
      height: 62px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 38px;
      line-height: 62px;
      letter-spacing: -0.002em;
      color: #000000;
    }

    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 200;
      font-size: 20px;
      line-height: 34px;
      // text-align: justify;
      color: #292929;
      margin-top: 1rem;
    }

    .mobile_para {
      display: none;
    }

    button {
      width: 210px;
      height: 60px;
      background: #a782ec;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
      border: none;
      margin-top: 1rem;
      margin-left: 15px;

      &.angel_button {
        background: #4fe9a4 !important;
      }

      &.investor_button {
        background: #1a1a1a !important;
      }

      &.mentor_button {
        background-color: #fd5901 !important;
      }
    }
  }
}


.angel_img {
  img {
    width: 100%;
    height: 480px;
  }
}

.client_img {
  img {
    width: 100%;
    height: 450px;
  }
}

.mentor_img {
  img {
    width: 100%;
    height: 400px;
  }
}

.margin_bottom {
  margin-bottom: 150px;
}



// one_link_ends



.our_investor_section {
  background-color: #faffff;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}



@media (max-width: 1200px) {

  .row {
    .section_container {
      margin: 0px;

      h2 {
        width: 100%;
        font-size: 38px;
      }

      .welcome_section {
        h6 {
          font-size: 14px;
        }

        .break {
          display: none;
        }
      }
    }

    .welcome_section h6 {
      color: #414141;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
    }
  }

  .container.mb-md-5 {
    margin-bottom: 20px;
  }

  .buttons_row {
    margin-top: 20px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100% !important;

    a {
      width: 45% !important;
    }
  }

  .image_section {
    img {
      // height: auto;
      // width: 100%;
      // margin: 20px 0;
      height: auto;
      width: 145px;
      margin: 37px 0px 0px 0;
      margin-left: -45px;
    }
  }

  .btn1,
  .btn2,
  button {
    width: 100%;
    height: 36px;
    padding: 0;
    font-size: 12px;
  }

  .onelink_container {
    .onelink_img {
      .create_one_link {
        margin-left: -26px;
        // margin-top: -30%;
      }

      img {
        height: 600px;
        width: 100%;
      }
    }

    .angel_investment {
      // flex-direction: column-reverse;
    }

    .angel_investment_text {
      // margin-top: -30%;
    }

    .angel_investment_image {
      margin-left: -15px;
      // margin-top: -3%;
    }

    .manage_team_img {
      margin-left: -3px;
      // margin-top: -30%;
    }



    .title_text {
      h1 {
        height: 45px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: -0.002em;
        color: #000000;
      }

      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 200;
        font-size: 16px;
        line-height: 34px;
        // text-align: justify;
        color: #292929;
        margin-top: .1rem;
      }
      .desktop_para{
        display: none;
      }
      .mobile_para{
        display: block;
      }

      button {
        width: 180px;
        height: 45px;
        background: #a782ec;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        border: none;
        margin-top: 1rem;
        margin-left: 15px;

        &.angel_button {
          background: #4fe9a4 !important;
        }

        &.investor_button {
          background: #1a1a1a !important;
        }

        &.mentor_button {
          background-color: #fd5901 !important;
        }
      }
    }
  }
  .our_startups_section{
    margin-top: 30%;
  }

  .title__text h2 {
    font-size: 15px;
    margin-top: 45px;
  }

  .title__text h4 {
    font-size: 13px;
  }

  .our_investor_section .brand_icon img {
    height: 60px;
  }

  .collab_brand_icon img {
    height: 20px;
  }


}


@media (max-width: 820px) {

  .row {
    .section_container {
      margin: 0px;

      h2 {
        width: 100%;
        font-size: 38px;
      }

      .welcome_section {
        h6 {
          font-size: 14px;
        }

        .break {
          display: none;
        }
      }
    }

    .welcome_section h6 {
      color: #414141;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
    }
  }

  .container.mb-md-5 {
    margin-bottom: 20px;
  }

  .buttons_row {
    margin-top: 20px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100% !important;

    a {
      width: 45% !important;
    }
  }

  .image_section {
    img {
      // height: auto;
      // width: 100%;
      // margin: 20px 0;
      height: auto;
      width: 145px;
      margin: 37px 0px 0px 0;
      margin-left: -45px;
    }
  }

  .btn1,
  .btn2,
  button {
    width: 100%;
    height: 36px;
    padding: 0;
    font-size: 12px;
  }

  .onelink_container {
    .onelink_img {
      .create_one_link {
        margin-left: -26px;
        // margin-top: -30%;
      }

      img {
        // margin: -20% 0;
        height: 600px;
        width: 100%;
      }
    }

    .angel_investment {
      flex-direction: column-reverse;
    }

    .angel_investment_text {
      // margin-top: -30%;
    }

    .angel_investment_image {
      // margin-left: -15px;
      // margin-top: -3%;
    }

    .manage_team_img {
      margin-left: -3px;
      // margin-top: -30%;
    }



    .title_text {
      h1 {
        height: 45px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: -0.002em;
        color: #000000;
      }

      p {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 200;
        font-size: 16px;
        line-height: 34px;
        // text-align: justify;
        color: #292929;
        margin-top: .1rem;
      }
      .desktop_para{
        display: none;
      }
      .mobile_para{
        display: block;
      }

      button {
        width: 180px;
        height: 45px;
        background: #a782ec;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        border: none;
        margin-top: 1rem;
        margin-left: 15px;

        &.angel_button {
          background: #4fe9a4 !important;
        }

        &.investor_button {
          background: #1a1a1a !important;
        }

        &.mentor_button {
          background-color: #fd5901 !important;
        }
      }
    }
  }
  .our_startups_section{
    margin-top: 20%;
  }

  .title__text h2 {
    font-size: 15px;
    margin-top: 45px;
  }

  .title__text h4 {
    font-size: 13px;
  }

  .our_investor_section .brand_icon img {
    height: 60px;
  }

  .collab_brand_icon img {
    height: 20px;
  }


}