$primary-color: #fd5901;
$secondary-color: #1b2430;


.row {
  margin: 0;

  .buttons_row {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
  }
}

.b {
  border: 2px solid red;
}

.title__text {
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 170%;
    margin-top: 75px;
    width: 100%;
  }

  h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
  }
}

.image_section {
  img {
    width: 100%;

  }
}

.btn1 {
  background: #fd5901;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: #fd5901;
  color: #fff;
  width: 210px;
  height: 60px;
}

.btn2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 40px;
  border: 2px solid #000000;
  border-radius: 50px;
  background: transparent;
  width: 210px;
  height: 60px;

  &:hover {
    background: transparent;
    color: #000;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

/* why choose us */
.why_choose_us_container {
  background-color: #000;
}

.why_choose_us {
  color: #fff;

  h2 {
    color: #fff;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: -0.002em;
    padding: 80px;
  }
}



/* one Link section */
.onelink_img {
  img {
    height: 730px;
    width: 100%
  }
}

.title_text {
  h3 {
    height: 62px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 62px;
    letter-spacing: -0.002em;
    color: #000000;
  }

  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 34px;
    text-align: justify;
    color: #292929;
    margin-top: 1rem;
  }

  button {
    width: 210px;
    height: 60px;
    background: #a782ec;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    border: none;
    margin-top: 1rem;
    margin-left: 15px;

    &.angel_button {
      background: #4fe9a4 !important;
    }

    &.investor_button {
      background: #1a1a1a !important;
    }

    &.mentor_button {
      background-color: #fd5901 !important;
    }
  }
}

.angel_img {
  img {
    width: 100%;
    height: 480px;
  }
}

.client_img {
  img {
    width: 100%;
    height: 450px;
  }
}

.mentor_img {
  img {
    width: 100%;
    height: 400px;
  }
}

.margin_bottom {
  margin-bottom: 150px;
}

.mt-80 {
  margin-top: 80px;
}

.brand_icon {
  img {
    height: 120px;
  }
}

.collab_brand_icon {
  img {
    height: 30px;
  }
}

.our_investor_section {
  background-color: #faffff;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}

@media (max-width: 768px) {
  .container.mb-md-5 {
    margin-bottom: 20px;
  }

  .buttons_row {
    margin-top: 20px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100% !important;
    a{
      width: 45%;
    }
  }

  .image_section {
    img {
      height: auto;
      width: 100%;
      margin: 20px 0;
    }
  }

  .btn1,
  .btn2,
  button {
    width: 100%;
    margin: 10px 0;
    height: 50px;
  }

  .title__text h2 {
    font-size: 20px;
    margin-top: 45px;
  }

  .title__text h4 {
    font-size: 16px;
  }

  .our_investor_section .brand_icon img {
    height: 60px;
  }

  .collab_brand_icon img {
    height: 20px;
  }
}