.row {
  margin: 0;
}
.b {
  border: 2px solid red;
}
.title__text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 170%;
  margin-top: 75px;
}
.title__text h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}
.image_section img {
  margin-left: -156px;
  height: 500px;
  width: 570px;
}
.btn1 {
  background: #fd5901;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: #fd5901;
  color: #fff;
  width: 210px;
  height: 60px;
}

.btn2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 40px;
  border: 2px solid #000000;
  border-radius: 50px;
  background: transparent;
  width: 210px;
  height: 60px;
}
.btn2:hover {
  background: transparent;
  color: #000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* why choose us */
.why_choose_us_container {
  background-color: #000;
}
.why_choose_us {
  color: #fff;
}
.why_choose_us h2 {
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.002em;
  padding: 80px;
}
.why_chooseus_card {
  box-sizing: border-box;
  width: 357px;
  height: 375px;
  /* left: 122px;
  top: 1133px; */
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  color: #fff;
  background: #fcfcfc;
}
.mb-69 {
  margin-bottom: 69px;
}
.inside_card {
  margin: 26px;
}
.inside_card img {
  height: 120px;
  width: 120px;
}
.inside_card h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  letter-spacing: -0.002em;
  color: #000000;
}
.inside_card p {
  width: 267px;
  height: 96px;
  left: 169px;
  top: 1327px;
  color: #1f1f1f;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: -0.002em;
}

/* one Link section */
.onelink_img img {
  height: 730px;
  width: 600px;
}
.title_text h3 {
  height: 62px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  letter-spacing: -0.002em;
  color: #000000;
}

.title_text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 34px;
  text-align: justify;
  color: #292929;
  margin-top: 1rem;
}
.title_text button {
  width: 210px;
  height: 60px;
  background: #a782ec;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  border: none;
  margin-top: 1rem;
  margin-left: 15px;
}
.angel_button {
  background: #4fe9a4 !important;
}
.investor_button {
  background: #1a1a1a !important;
}
.mentor_button {
  background-color: #fd5901 !important;
}
.angel_img img {
  height: 480px;
}
.client_img img {
  height: 450px;
}
.mentor_img img {
  height: 400px;
}
.margin_bottom {
  margin-bottom: 150px;
}

/* startups section */
.startups_section_btn {
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.startups_title h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -0.002em;
}
.fintech_card {
  width: 268px;
  height: 303px;
  background: #b0b0b0;
  border-radius: 40px;
}

.mt-80{
  margin-top: 80px;
}
.brand_icon img{
  height: 120px;

}
.collab_brand_icon img{
  height: 30px;

}