/* startups section */
.startups_section_btn {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

// #navbar {
//     li {
//         button {
//             border: none;
//             background-color: transparent;
//             font-size: 20px;
//             font-family: Poppins;
//             font-size: 20px;
//             font-style: normal;
//             font-weight: 600;
//             line-height: normal;
//             letter-spacing: -0.04px;

//         }


//         .active {
//             color: #FD5901;
//             text-align: center;
//             font-family: Poppins;
//             font-size: 20px;
//             font-style: normal;
//             font-weight: 600;
//             line-height: normal;
//             letter-spacing: -0.04px;

//             ::after {
//                 content: "";
//                 position: absolute;
//                 bottom: 0;
//                 left: 0;
//                 width: 100%;
//                 height: 2px;
//                 background-color: #FD5901; /* Set the color of the underline here */
//               }

//               #navbar li a.active {
//                 color: #fd5901;
//               }

//               #navbar li a:hover::after,
//               #navbar li a.active::after {
//                 content: "";
//                 width: 40%;
//                 height: 2px;
//                 background: #fd5901;
//                 position: absolute;
//                 bottom: -4px;
//                 left: 30px;
//               }

//         }
//     }
// }

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #000;
    transition: 0.3s ease-in-out;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

#navbar li a:hover,
#navbar li a.active {
    color: #fd5901;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 40%;
    height: 2px;
    background: #fd5901;
    position: absolute;
    bottom: -4px;
    left: 30px;
}

.fintech_card {
    width: 268px;
    height: 303px;
    background: #b0b0b0;
    border-radius: 40px;
}