.help_main_container {
    .box_container {
        // width: 750px;
        height: 100%;
        background-color: #fff;
        padding: 10px;
        border-radius: 40px;
        background: #fff;
        box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);

        .helpcenter {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 5%;
            margin-top: 2%;

            img {
                height: 20px;
                width: 20px;
                margin-right: 10px;
            }

            h6 {
                margin: 0;
            }

        }

        .how_can_we_help {
            margin-top: 2%;

            .title_input {
                display: flex;
                align-items: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .centered-text {
                    text-align: center;
                    color: #485B65;
                    font-family: Poppins;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-top: 2rem;
                }

                .title_input h1 {
                    margin-right: 10px;
                }

                .search-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60%;
                    background: #EAEEF2;
                    border-radius: 10px;
                    background: #EAEEF2;

                    img {
                        margin-left: 20px;
                        height: 20px;
                        width: 20px;
                    }


                    input[type="text"] {
                        border-radius: 10px;
                        background: #EAEEF2;
                        width: 75%;
                        height: 60px;
                        flex-shrink: 0;
                        border: none;
                        outline: none;
                        margin-left: 20px;

                        &.focus {
                            outline: none;
                        }
                    }

                    input::placeholder {
                        color: #A6ACAE;
                        font-family: Poppins;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                    }

                    .search-button {
                        border-radius: 10px;
                        background: #FD5901;
                        color: #FFF;
                        font-family: Poppins;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        border: none;
                        width: 107px;
                        height: 37px;
                        flex-shrink: 0;
                        margin-right: 20px;
                    }

                }


            }
        }

        .small_text {
            color: #A6ACAE;
            font-family: Poppins;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-align: center;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .card-section {
            display: flex;
            max-width: 100%;
            max-height: 100%;
            justify-content: center;
            margin-bottom: 5%;

            .card {
                height: 140px;
                width: 160px;
                margin-right: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 16.494px;
                border: 1px solid #DFDFDF;
                background: #EAEEF2;
                box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.05);

                img {

                    height: 72px;
                    width: 72px;
                }

                p {
                    color: #485B65;
                    font-family: Poppins;
                    font-size: 12.494px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-align: center;
                }
            }

            .card:nth-child(1) {
                margin-left: 50px;
            }


        }

        .accordion_section {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5%;
            margin-bottom: 5%;

            .accordion {
                width: 80% !important;
            }

            .accordion-item {
                border: none;

                .accordion-button {
                    background-color: #EAEEF2 !important;
                    border: none !important;
                    border-radius: 10px;

                    &.focus {
                        border: none !important;
                        outline: none !important;
                        ;
                    }
                }

                .accordion-body {
                    background-color: #d6d7d9 !important;
                }
            }

            .accordion-header {
                background-color: #fff;
            }

        }

    }

    .content-70 {
        height: 100%;
        margin-bottom: 20%;
    }

}