.social__link {
  color: #3d3d3d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  background: rgba(206, 206, 206, 0.46);
  border-radius: 10rem;
  padding: 0.5em 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;

  img {
    width: 16px;
    height: 16px;
  }
}
