// .editview_container {
//   .box_container {
//     // width: 750px;
//     height: auto;
//     background-color: #fff;
//     border-radius: 40px;
//     background: #fff;
//     box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);
//     padding-top: 50px;
//     margin-top: 20px;
//     input,
//     textarea {
//       background: none;
//       border: none;
//       height: 100%;
//       white-space: pre-wrap;
//     }
//     textarea {
//       width: 100%;
//     }
//     .heading_section {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       height: 20%;

//       button,
//       h6 {
//         margin-top: 5%;
//         margin-right: 6%;
//       }

//       h6 {
//         margin-left: 6%;
//       }

//       button {
//         width: 95px;
//         height: 38px;
//         flex-shrink: 0;
//         border-radius: 10px;
//         background: #000;
//         color: #fff;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//     }

//     .dollar_rupree {
//       margin-left: 2%;
//       margin-bottom: 2%;
//       margin-top: 2%;
//       padding-top: 2%;
//     }

//     .download_preview {
//       display: flex;
//       flex-direction: column;
//       gap: 3rem;
//       // border: 1px solid red;
//     }

//     .company_description {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       gap: 2rem;
//       border-radius: 5px;
//       border: 0.76px solid #e3e3e3;
//       // background: #000;
//       // width: 100%;
//       margin: auto;
//       padding: 1em;
//       // height: 142px;
//       // border: 1px solid yellow;
//       @media (min-width: 768px) {
//         flex-direction: row;
//         gap: 1rem;
//       }

//       img {
//         object-fit: contain;
//         // margin-left: 10px;
//       }

//       .company_text {
//         // text-align: center;
//         display: flex;
//         color: #fff;
//         flex-direction: column;
//         justify-content: center;
//         width: 100%;
//         // padding-block: 2rem;
//         // margin-left: 20px;

//         h6 {
//           color: #fff;
//           font-family: Poppins;
//           font-size: 12px;
//           font-style: normal;
//           font-weight: 400;
//           line-height: normal;
//         }

//         .description_container {
//           padding: 1em;
//           color: white;
//           word-break: break-all;
//           height: 160px;

//           @media (min-width: 768px) {
//             height: fit-content;
//             padding: 1em 0;
//           }
//         }
//       }
//     }

//     .card_section {
//       width: 100%;
//       // margin: auto;
//       // margin-top: 20px;
//       // padding-bottom: 20px;
//     }

//     .market_section {
//       display: flex;
//       justify-content: center;
//       // margin-bottom: 10px;
//     }

//     .table_section {
//       margin-inline: auto;
//       max-width: 1400px;
//       width: 100%;
//       display: flex;
//       overflow-x: auto;
//       justify-content: center;

//       &::-webkit-scrollbar {
//         height: 8px;
//         width: 300px;
//       }

//       &::-webkit-scrollbar-thumb {
//         background-color: rgba(253, 89, 1, 0.9);
//         border-radius: 10rem;
//       }

//       &::-webkit-scrollbar-track {
//         background-color: rgba(253, 89, 1, 0.2);
//         border-radius: 10rem;
//         margin-inline: 30dvw;
//       }

//       &::-webkit-scrollbar-track-piece {
//         &:start {
//           margin-left: 0;
//         }

//         &:end {
//           margin-right: 0;
//         }
//       }
//     }

//     .team_section {
//       width: 100%;
//       overflow-x: auto;
//       padding-bottom: 1em;
//       display: flex;
//       justify-content: flex-start;
//       gap: 2rem;

//       // margin-left: 3%;

//       &::-webkit-scrollbar {
//         height: 8px;
//         width: 300px;
//       }

//       &::-webkit-scrollbar-thumb {
//         background-color: rgba(253, 89, 1, 0.9);
//         border-radius: 10rem;
//       }

//       &::-webkit-scrollbar-track {
//         background-color: rgba(253, 89, 1, 0.2);
//         border-radius: 10rem;
//         margin-inline: 20dvw;
//       }

//       &::-webkit-scrollbar-track-piece {
//         &:start {
//           margin-left: 0;
//         }

//         &:end {
//           margin-right: 0;
//         }
//       }
//     }

//     .fund_asking_deployment {
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       // align-items: center;
//       padding-bottom: 20px;
//       gap: 3rem;

//       @media (min-width: 1024px) {
//         flex-direction: row;
//       }

//       .funding_divider {
//         width: 100%;
//         // border: 1px solid red;
//         // overflow: scroll;

//         @media (min-width: 1024px) {
//           width: 48%;
//         }
//       }
//     }

//     .button_preview_download_section {
//       .download_button_container {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: flex-end;
//         gap: 2rem;

//         @media (min-width: 768px) {
//           flex-direction: row;
//         }
//       }

//       button {
//         border-radius: 50px;
//         width: 25%;
//         min-width: 150px;
//         max-width: 250px;
//         height: 60px;
//         flex-shrink: 0;
//         // margin-bottom: 10px;
//         background-color: #fff;
//         border-radius: 50px;
//         border: 1px solid #fd5901;
//         color: #fd5901;
//         // margin-right: 10px;
//       }

//       .download_button {
//         background: #fd5901;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding: 0 10px;
//         border: none;
//         color: #fff;
//         // margin-right: 5%;
//         width: 25%;
//         min-width: 150px;
//         max-width: 250px;

//         span {
//           font-size: 20px;
//           margin-right: 5px;
//         }
//       }
//     }
//   }
// }

// .name_container {
//   color: white;
//   word-break: break-all;
//   min-width: 50%;
// }

// @media (max-width: 820px) {
//   input {
//     width: 100px;
//   }
//   .box_container {
//   .editview_container {
//       padding-top: 15px;
//       margin-top: 0px;
//       .team_section {
//         display: flex;
//         // flex-direction: column;
//         // overflow-x: hidden;
//         input {
//           font-size: 12px;
//         }
//       }
//       .fund_asking_deployment {
//         display: flex;
//         flex-direction: column;
//         .funding_divider {
//           width: 100%;
//         }
//       }
//     }
//     .seprate_line{
// border-bottom: 3px solid #BDBDBD;
// padding-top: 10px;
// margin-bottom: 10px;
// height: 20px;
//     }
//   }
// }

.one_link_edit_view_section {
  background: #fff;

  .back_img {
    width: fit-content;
    padding: 10px;
    height: max-content;
    background: #eaeef2;
    cursor: pointer;
    position: fixed;
    z-index: 10;
  }

  input {
    border: none;
    outline: none;
    color: black;
  }

  h5 {
    position: absolute;
    font-size: 10px;
    top: -9px;
    left: 15px;
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    color: #fd5901;
  }

  input {
    border-radius: 10px;
    height: 69px;
  }

  h4 {
    margin-top: 10px;
    font-size: 20px;
  }

  .img_company_data {
    .img_right {
      position: relative;
      border: 1px solid red;
      display: inline-block;
    }

    .img_right label:hover span {
      display: block !important;
    }

    .img_right label {
      cursor: pointer;
      display: inline-block;
      position: relative;

      img {
        width: 194px;
        height: 203px;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        text-align: center;
        display: none !important;
      }
    }

    .compant_data {
      width: 100%;

      .startup_Name_inp {
        position: relative;
        border: 1px solid #e2e2e2;
        border-radius: 10px;
      }

      .location_data_div {
        .country {
          position: relative;
          border: 1px solid #e2e2e2;
          border-radius: 10px;
        }

        .founded {
          position: relative;
          border: 1px solid #e2e2e2;
          border-radius: 10px;
        }
      }

      .tags_inp {
        position: relative;
        border: 1px solid #e2e2e2;
        border-radius: 10px;
      }
    }
  }

  .link_section {
    .web_link {
      position: relative;
      border: 1px solid #e2e2e2;
      border-radius: 10px;
      margin-top: 20px;
    }

    .social_links {
      .links {
        position: relative;
        border: 1px solid #e2e2e2;
        border-radius: 10px;
        margin-top: 20px;
      }
    }
  }

  .about_company_section {
    position: relative;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    margin-top: 20px;

    textarea {
      color: rgba(0, 0, 0, 0.63);
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      outline: none;
      border: none;
      min-height: calc(140px - 32px);
      border-radius: 10px;
    }
  }

  .market_size {
    .market {
      position: relative;
      border: 1px solid #e2e2e2;
      border-radius: 10px;
      margin-top: 20px;
    }
  }

  .competitor_social_link {
    .competitor_link {
      position: relative;
      border: 1px solid #e2e2e2;
      border-radius: 10px;
      margin-top: 20px;
    }
  }

  .table_section {
    overflow-x: auto;
  }

  .fund_sking_section {
    .fund_asking {
      position: relative;
      border: 1px solid #e2e2e2;
      border-radius: 10px;
      margin-top: 20px;
    }
  }

  .add_row_btn {
    margin-top: 10px;
    padding: 0.25em 1em;
    border-radius: 5px;
  }

  .delete_row_btn {
    margin-top: 10px;
    padding: 0.15em 0.5em;
    /* Adjust the padding */
    border-radius: 5px;
    font-size: 14px;
    /* Adjust the font size */
    border: none;
    /* Remove the border */
    background: transparent;
    /* Make the background transparent */
    cursor: pointer;
    /* Change cursor on hover */
  }

  .startup {
    border: 1px solid #fd5901;
    background-color: #fd5901;
    color: white;
  }

  .roadmap_section {
    .Roadmap {
      position: relative;
      border: 1px solid #e2e2e2;
      border-radius: 10px;
      margin-top: 20px;
    }
  }

  .team_section {
    overflow-x: auto;
  }

  .button_preview_download_section {
    .download_button_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;
      margin: 15px;
    }

    button {
      border-radius: 50px;
      width: 25%;
      min-width: 150px;
      max-width: 250px;
      height: 60px;
      flex-shrink: 0;
      // margin-bottom: 10px;
      background-color: #fff;
      border-radius: 50px;
      border: 1px solid #fd5901;
      color: #fd5901;
      // margin-right: 10px;
    }

    .download_button {
      background: #fd5901;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      border: none;
      color: #fff;
      width: 25%;
      min-width: 150px;
      max-width: 250px;
    }
  }

  .save_btn {
    margin-top: 10px;
    padding: 0.25em 1em;
    border-radius: 5px;
    border: 1px solid #fd5901;
    background-color: #fd5901;
    color: white;
    font-size: 20px;
  }
}
