.editview_container {
    .box_container {
        // width: 750px;
        height: auto;
        background-color: #fff;
        border-radius: 40px;
        background: #fff;
        box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);

        .heading_section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 20%;

            button,
            h6 {
                margin-top: 5%;
                margin-right: 6%;
            }

            h6 {
                margin-left: 6%;
            }

            button {
                width: 95px;
                height: 38px;
                flex-shrink: 0;
                border-radius: 10px;
                background: #000;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .dollar_rupree {
            margin-left: 2%;
            margin-bottom: 2%;
            margin-top: 2%;
            padding-top: 2%;
        }

        .company_description {
            display: flex;
            border-radius: 5px;
            border: 0.76px solid #e3e3e3;
            background: #000;
            width: 96%;
            margin: auto;
            height: 142px;

            img {
                object-fit: contain;
                margin-left: 10px;
            }

            .company_text {
                display: flex;
                color: #fff;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                margin-left: 20px;

                h6 {
                    color: #fff;
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }

        .card_section {
            width: 96%;
            margin: auto;
            margin-top: 20px;
            padding-bottom: 20px;
        }

        .market_section {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .table_section {
            max-width: 1000px;
            width: 96%;
            display: flex;
            overflow-x: scroll;
            justify-content: center;
        }

        .team_section {
            width: 100%;
            overflow-x: scroll;
            padding-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        .fund_asking_deployment {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;

            .funding_divider {
                width: 48%;
                overflow: scroll;
            }
        }

        .button_preview_download_section {
            .download_button_container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
            }

            button {
                border-radius: 50px;
                width: 258px;
                height: 60px;
                flex-shrink: 0;
                margin-bottom: 10px;
                background-color: #fff;
                border-radius: 50px;
                border: 1px solid #fd5901;
                color: #fd5901;
                margin-right: 10px;
            }

            .download_button {
                background: #fd5901;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10px;
                border: none;
                color: #fff;
                margin-right: 5%;

                span {
                    font-size: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
}
