$primary-color: #fd5901;
$secondary-color: #1b2430;

.nav_container {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 40px 0px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
    position: sticky;
    top: 0;
    z-index: 9999;

    &.scrolling-nav {
      background-image: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0.999));
      background-color: transparent;
    }

    .mobile_loginbtn {
      display: none;
    }

    #navbar {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        list-style: none;
        padding: 0 20px;
        position: relative;

        a {
          text-decoration: none;
          font-size: 1.3rem;
          font-weight: 500;
          color: #000;
          transition: 0.3s ease-in-out;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;

          &:hover,
          &.active {
            color: $primary-color;

            &::after {
              content: "";
              width: 40%;
              height: 2px;
              background: $primary-color;
              position: absolute;
              bottom: -4px;
              left: 30px;
            }
          }
        }
      }
    }

    #mobile {
      display: none;

      i {
        color: #fff;
        align-items: center;
      }
      img{
        width:2rem
      }
    }

    .loginbtn {
      border: 2px solid $primary-color;
      border-radius: 50px;
      color: #fff !important;
      text-align: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 27px;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 10px;
      width: 155px;
      height: 47px;
      left: 1185px;
      top: 73px;

      background: $primary-color;
      border-radius: 50px;

      &:hover::after {
        display: none;
      }
    }
  }

  @media screen and (max-width: 769px) {
    nav {
      padding: 25px 0px;
      .logo {
        img {
          width: 150px;
        }
      }

      #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        left: -300px;
        width: 300px;
        height: 100vh;
        background: #FFFFFF;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
      }

      .mobile_loginbtn {
        border: 2px solid $primary-color;
        border-radius: 50px;
        color: #fff !important;
        text-align: center;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 27px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        width: 100px;
        height: 37px;
        left: 1185px;
        top: 73px;
        background: $primary-color;
        border-radius: 50px;
        text-decoration: none;

        &:hover::after {
          display: none;
        }
      }

      #navbar.active {
        left: 0px;
      }

      #navbar li {
        margin-bottom: 25px;
      }

      .hamberger_logo_login_container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .logo_hamberger {
          display: flex;
          a{
            margin-left: 15px;
          }
        }
      }

      #mobile {
        display: block;
      }

      #mobile i {
        font-size: 24px;
        cursor: pointer;
      }

      .loginbtn {
        // ... (previous styles)
        display: none;
        /* Hide login button on small devices */
      }
    }


  }
}