// Variables for responsiveness
$card-width: 15rem;
$logo-size: 100px;

.coinvestor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;




    .card {
        border-radius: 31.383px;
        background: #F5F5F5;
        box-shadow: 3.347517728805542px 3.347517728805542px 25.106382369995117px 0px rgba(0, 0, 0, 0.15);
        width: $card-width;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 236px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 29.965px;
        }

        h3 {
            position: absolute;
            bottom: -20%;
            color: #000;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

}

@media screen and (max-width: 768px) {
    .coinvestor-container {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        .card {
            flex: 0 0 auto;
            width: 10rem;
            height: 136px;
            margin-right: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 29.965px;
            }
            h3 {
                position: absolute;
                bottom: -25%;
                color: #000;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        .card::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }
}

@media screen and (max-width: 820px) {
    .coinvestor-container {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding: 10px;

        .card {
            flex: 0 0 auto;
            width: 12rem;
            height: 136px;
            margin-right: 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 29.965px;
            }
            h3 {
                position: absolute;
                bottom: -25%;
                color: #000;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        .card::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }
}