// Variables for responsiveness
$card-width: 15rem;
$logo-size: 100px;

.coinvestor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

    img {
        width: 145.905px;
        height: 144.406px;
        flex-shrink: 0;
    }


    .card {
        border-radius: 31.383px;
        background: #F5F5F5;
        box-shadow: 3.347517728805542px 3.347517728805542px 25.106382369995117px 0px rgba(0, 0, 0, 0.15);
        width: $card-width;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 236px;
    }

}

@media screen and (max-width: 768px) {
    .coinvestor-container {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        .card {
            flex: 0 0 auto;
            width: 10rem;
            height: 136px;
            margin-right: 10px;
            img {
                width: 105.905px;
                height: 104.406px;
                flex-shrink: 0;
            }
        }
        .card::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }
}