.create_meeting_modal_wrapper {
  .newMeeting_form {
    fieldset,
    legend {
      all: revert;
    }

    fieldset {
      border: 1px solid #e7e7e7;
      border-radius: 10px;
      box-shadow: 0 0 30px 2px rgb(211, 243, 107, 0.1);

      &:focus-within {
        border: 1px solid rgb(211, 243, 107);
      }

      legend {
        background-color: white;
        padding: 0.25em 0.5em;
        border-radius: 10rem;
      }

      .meeting_input {
        border: none;
        outline: none;
        width: 100%;
      }
    }
  }

  .create_button {
    border: 1px solid rgb(211, 243, 107);
    border-radius: 10px;

    background-color: rgb(211, 243, 107);
    color: black;

    font-size: 1rem;
    line-height: 0.75rem;
    text-align: center;

    padding: 1em 1.5em;
  }
}
