.startups_invested {
    border-radius: var(--border-radius);
    background: #fff;
    // padding: 20px;
    // margin: 0 20px 20px 20px;

    .header {
      display: flex;
      justify-content: space-between;
      // padding-bottom: 5px;
      // border-bottom: solid 1px #dfdfdf;
      align-items: center;
    }

    .invested_cards {
      display: flex;
      width: 100%;
      gap: 3em;
      overflow-x: auto;

      .invested_card {
        flex-shrink: 0;
        margin: 10px 0;
        padding: 20px 0 20px 20px;
        width: 440px;
        height: auto;
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 30px 0px rgba(211, 243, 107, 0.1);

        .card_title {
          display: flex;
          align-items: center;

          h5 {
            padding-bottom: 5px;
            padding-left: 10px;
            border-bottom: 1px solid #717171;
            width: 100%;
          }
        }

        .card_text {
          display: grid;
          grid-template-columns: 25% auto;
          gap: 1em;

          @media (min-width: 435px) {
            grid-template-columns: 18% auto;
          }
        }
      }
    }

    // For responsiveness of Modal component
  .modal {
    margin-top: 20%;

    @media (min-width: 500px) {
      margin-top: 15%;
    }

    @media (min-width: 575px) {
      margin-top: 13.5%;
    }

    @media (min-width: 768px) {
      margin-top: 10%;
    }

    @media (min-width: 769px) {
      margin-top: 0;
    }
  }

   // Scrollbar
   .invested_cards::-webkit-scrollbar{
     height: 10px;
   }
 
   .invested_cards::-webkit-scrollbar-thumb{
     background-color: rgba(211, 243, 107, 0.2);
     border-radius: 10rem;
 
     &:hover {
       background-color: rgba(211, 243, 107, 1);
     }
   }
 
   .invested_cards::-webkit-scrollbar-track{
     background-color: transparent;
     border-radius: 10rem;
   }
  }