.blog-card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
  width: 32.33%;
  display: flex;
  flex-direction: column;
}

.blog-card-image {
  width: 100%;
  height: 56%;
}

.blog-card-button {
  color: #fd5901;
  border: none;
  max-width: 150px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 25.591px;
  background: rgba(253, 89, 1, 0.2);
}

.blog-card-details {
  margin-top: auto;
  .blog-card-title {
    margin-top: 10px;
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .blog-card-date {
    margin-top: 5px;
    color: #000;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media (max-width: 820px) {
  .blog-card {
    width: 49%;
  }
}

@media (max-width: 426px) {
  .blog-card {
    width: 100%;
  }
}
