.onepagepreview_container {
  .box_container {
    // width: 750px;
    height: auto;
    background-color: #fff;
    border-radius: 40px;
    background: #fff;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    gap: 3rem;

    .heading_section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // height: 20%;
      padding-block-start: 2rem;
      padding-block-end: 1rem;
      border-bottom: 1px solid rgba(180, 180, 180, 1);

      a,
      h6 {
        // margin-top: 5%;
        // margin-right: 6%;
        text-decoration: none;
      }

      button {
        width: 95px;
        height: 38px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .dollar_rupree {
      margin-left: 2%;
      margin-bottom: 2%;
      margin-top: 2%;
    }

    .company_description {
      display: flex;
      border-radius: 5px;
      border: 0.76px solid #e3e3e3;
      background: #000;
      width: 100%;
      margin: auto;
      min-height: 142px;

      img {
        object-fit: contain;
        margin-left: 10px;
        height: 140px;
        width: 120px;
      }

      .company_text {
        display: flex;
        color: #fff;
        flex-direction: column;
        // width: 100%;
        justify-content: center;
        margin-left: 20px;

        h6 {
          color: #fff;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .card_section {
      width: 100%;
      // margin: auto;
      // margin-top: 20px;
      // padding-bottom: 20px;
    }

    .table_section {
      // max-width: 96%;
      width: 100%;
      display: flex;
      // justify-content: center;
      overflow-x: auto;
      .dummy_one{
        position: relative;
        width: 100%;
        margin-top: 20px;
        border-radius: 10px;
        border: 1px solid #adb5bd7c;
        background: #fff;
        min-height: 140px;
h6{
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 16px;
  border-radius: 5px;
  color: #ff772f;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;}
      }

      &::-webkit-scrollbar {
        height: 8px;
        width: 300px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(253, 89, 1, 0.9);
        border-radius: 10rem;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(253, 89, 1, 0.2);
        border-radius: 10rem;
        margin-inline: 30dvw;
      }

      &::-webkit-scrollbar-track-piece {
        &:start {
          margin-left: 0;
        }

        &:end {
          margin-right: 0;
        }
      }
    }

    .team_section {
      width: 100%;
      // margin-left: 3%;
      overflow-x: auto;
      padding-bottom: 20px;
      display: flex;
      justify-content: flex-start;
      gap: 2rem;

      &::-webkit-scrollbar {
        height: 8px;
        width: 300px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(253, 89, 1, 0.9);
        border-radius: 10rem;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(253, 89, 1, 0.2);
        border-radius: 10rem;
        margin-inline: 20dvw;
      }

      &::-webkit-scrollbar-track-piece {
        &:start {
          margin-left: 0;
        }

        &:end {
          margin-right: 0;
        }
      }

      // .team-card-container {
      //   display: flex;
      //   flex-wrap: wrap;
      //   justify-content: space-between;
      //   width: 96%;
      //   border: 1px solid green;
      // }
    }

    .fund_asking_deployment {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;

      .funding_divider {
        width: 48%;
        // overflow-x: auto;
      }
    }
  }
}
@media (max-width: 1200px) {
  .onepagepreview_container {
    .box_container {
      width: 90%;
      margin: 0;
      .fund_asking_deployment {
        .funding_divider {
          width: 100%;
        }
      }
      .table_section {
        overflow-x: auto;


      }
    }
  }
}
@media (max-width: 820px) {
  .onepagepreview_container {
    .box_container {
      width: 100%;
      max-width: 750px;
      margin: 0;
      .fund_asking_deployment {
        .funding_divider {
          width: 100%;
        }
      }
      .table_section {
        overflow-x: auto;
      }
    }
  }
}

@media (max-width: 425px) {
  .onepagepreview_container {
    .box_container {
      width: 100%;
      .team_section {
        display: flex;
        // flex-direction: column;
      }
      .company_description {
        flex-direction: column;
        align-items: center;
        padding: 0.5em;
        img {
          margin-left: 0;
        }
        .company_text {
          margin-left: 0;
        }
      }
    }
  }
}
