.onepagepreview_container {
  .box_container {
    // width: 750px;
    height: auto;
    background-color: #fff;
    border-radius: 40px;
    background: #fff;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);

    .heading_section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 20%;

      a,
      h6 {
        margin-top: 5%;
        margin-right: 6%;
        text-decoration: none;
      }

      h6 {
        margin-left: 6%;
      }

      button {
        width: 95px;
        height: 38px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .dollar_rupree {
      margin-left: 2%;
      margin-bottom: 2%;
      margin-top: 2%;
    }

    .company_description {
      display: flex;
      border-radius: 5px;
      border: 0.76px solid #e3e3e3;
      background: #000;
      width: 96%;
      margin: auto;
      height: 142px;

      img {
        object-fit: contain;
        margin-left: 10px;
      }

      .company_text {
        display: flex;
        color: #fff;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-left: 20px;

        h6 {
          color: #fff;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .card_section {
      width: 96%;
      margin: auto;
      margin-top: 20px;
      padding-bottom: 20px;
    }

    .table_section {
      max-width: 96%;
      width: 96%;
      display: flex;
      justify-content: center;
      overflow-x: scroll;
    }

    .team_section {
      width: 100%;
      overflow-x: scroll;
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
    }

    .fund_asking_deployment {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;

      .funding_divider {
        width: 48%;
        overflow: scroll;
      }
    }
  }
}
@media (max-width: 768px) {
.onepagepreview_container{
    .box_container{
        .fund_asking_deployment{
            .funding_divider{
                width: 100%; 
            }
        }
    }
}

}