.slection_container {
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup {
    background-color: white;
    border-radius: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .back_and_home {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      text-transform: uppercase;
      img {
        height: 20px;
      }
      a {
        color: black;
        text-decoration: none;
      }
    }
    h2 {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      align-items: center;
      text-align: center;
    }
    .inside_popup {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      flex-direction: column;
      padding: 0 20px;
      padding-bottom: 10px;

      @media (max-width: 768px) {
        .card {
          max-height: 300px;
          img {
            max-height: 150px;
            object-fit: contain;
          }
        }
      }

      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  img {
    height: 250px;
    max-width: 100%;
    width: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  button {
    width: 98%;
    border-radius: 10px;
    background: #797979;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .popup {
    flex-direction: column;
  }
}
