.login-popup-container {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  pointer-events: none;

  animation: loginPopup 1s ease-out 3s 1 forwards;
}

@keyframes loginPopup {
  from {
    transform: translateY(100%);
    visibility: visible;
    pointer-events: all;
  }

  to {
    transform: translateY(0px);
    visibility: visible;
    pointer-events: all;
  }
}
