.after_register_popup {
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }

  .popup-content {
    background-color: #fff;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    width: 40%;

    display: flex;
    flex-direction: column;
    gap: 1em;

    h1 {
      color: #000;
      font-family: Poppins;
      font-size: 34px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .text_section {
      padding: 20px;

      color: #515151;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      /* 33.6px */
      letter-spacing: 0.84px;
    }

    .share_link {
      color: #fd5901;
    }

    .key,
    .key_title {
      all: revert;
      padding: 0;
    }

    .key {
      width: 10ch;
      margin-inline: auto;
      border: 1px solid #e7e7e7;
      transition: border 0.15s ease-in;

      &:focus-within {
        border: 1px solid #fd5901;
      }

      .key_input {
        border: none;
        outline: none;
        font-size: 1rem;
        padding: 0.5em 0.75em;
        text-align: center;

        background-color: transparent;
        color: black;
        // border: 1px solid blue;
      }
    }

    .assign_btn {
      border: 1px solid #fd5901;
      background-color: #fd5901;
      color: white;
      padding: 0.25em 1em;
      border-radius: 5px;
    }
  }

  /* Center the buttons */
  button {
    margin: 10px;
  }

  /* Style the close button */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .ok_button {
    width: 20%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fd5901;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
  }
}

@media (max-width: 768px) {
  .after_register_popup {
    position: relative;

    .popup-content {
      background-color: #fff;
      padding: 40px;
      text-align: center;
      border-radius: 8px;
      position: relative;
      width: 80%;

      h1 {
        color: #000;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      p {
        color: #373737;
        // text-align: justify;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    button {
      margin: 10px;
    }

    /* Style the close button */
    .close-button {
      width: 20px;
      position: absolute;
      top: 0px;
      right: 10px;
      background: none;
      border: none;
      font-size: 14px;
      cursor: pointer;
    }

    .ok_button {
      width: 20%;
      height: 30px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #fd5901;
      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      border: none;
    }
  }
}
