.editinvestorCompanyProfilePage__wrapper {
  //   margin-inline: 1.5em;
  //   margin-block: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .main__content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .right__content {
    display: none;

    @media (min-width: 1200px) {
      display: block;
      flex: 0 0 24rem;
    }
  }
}

.box {
  background-color: #fff;
  padding: 10px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);
}

.edit__btn {
  border-radius: 131px;
  border: 1px solid #c6c6c6;
  width: 107px;
  height: 35px;
  flex-shrink: 0;
  color: #717171;
  font-size: 18px;
  cursor: pointer;
}

.see__more {
  color: #717171;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

.orange {
  color: #fd5901;
}

.btn-base {
  border: none;
  border-radius: 8px;

  font-size: 16px;
  line-height: 16px;
  text-align: center;
  padding: 0.75em 2.5em;

  &:active {
    transition: transform 0.15s ease-in-out;
    transform: scale(0.95);
  }

  &.startup {
    background-color: #fd5901;
    color: white;
  }

  &.investor {
    background-color: #d3f36b;
    color: black;
  }
  
}
