.investor_companyProfilePage__wrapper {
  margin-inline: 1.5em;
  margin-block: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 1000px) {
    border-left: 1px solid #e7e7e7;
  }

  .main__content {
    max-width: 100%;

    @media (min-width: 1360px) {
      max-width: calc(100% - 24rem);
    }
    // border: 1px solid red;

    display: flex;
    flex-direction: column;
    gap: 3em;
  }

  .right__content {
    display: none;

    // @media (min-width: 1200px) {
    //   display: block;
    //   flex: 0 0 20rem;
    // }

    @media (min-width: 1360px) {
      display: block;
      flex: 0 0 22rem;
    }
  }
}

.yellow {
  color: #d3f36b;
}
