.complience_main_container {
  .container {
    a {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      position: absolute;
      text-decoration: none;

      img {
        width: 8.495px;
        height: 15.109px;
        flex-shrink: 0;
        margin-right: 5px;
      }
    }

    .heading_section_fund {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        color: #000;
        font-family: Poppins;
        font-size: 44px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      p {
        color: #343434;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
      }

      .title_and_image {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 20px;

        img {
          margin-right: 10px;
          width: 32px;
          height: 32.36px;
        }

        h2 {
          position: relative;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: #fd5901;
        }
      }
    }

    .title_text_description {
      margin-top: 6%;
      position: relative;

      .underline_title {
        margin-bottom: 30px;
        color: #000;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.064px;
        text-transform: capitalize;

        &::after {
          content: "";
          position: absolute;
          top: 20%;
          left: 2%;
          width: 23%;
          height: 3px;
          background-color: #fd5901;
        }
      }

      color: #000;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .list_section {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
        position: relative;

        p {
          color: #000;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        li {
          display: flex;
          // align-items: center;
          // margin-bottom: 20px;
          color: #343434;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          justify-content: center;

          ::before {
            content: "\2022";
            /* Unicode character for bullet point */
            margin-right: 10px;
            color: #fd5901;
            font-size: 50px;
          }

          img {
            margin-right: 20px;
            width: 20px;
            height: 20px;
          }

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
          }
        }

        .element_underline_one {
          color: #000;
          text-align: center;
          font-family: Poppins;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.064px;
          text-transform: capitalize;

          &::after {
            content: "";
            position: absolute;
            top: 14%;
            left: 2%;
            width: 54%;
            height: 3px;
            background-color: #fd5901;
          }
        }

        .element_underline_two {
          color: #000;
          text-align: center;
          font-family: Poppins;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.064px;
          text-transform: capitalize;

          &::after {
            content: "";
            position: absolute;
            top: 10%;
            left: 2%;
            width: 30%;
            height: 3px;
            background-color: #fd5901;
          }
        }

        .element_underline_three {
          color: #000;
          text-align: center;
          font-family: Poppins;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.064px;
          text-transform: capitalize;

          &::after {
            content: "";
            position: absolute;
            top: 8%;
            left: 1%;
            width: 22%;
            height: 3px;
            background-color: #fd5901;
          }
        }

        .element_underline_four {
          color: #000;
          text-align: center;
          font-family: Poppins;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.064px;
          text-transform: capitalize;

          &::after {
            content: "";
            position: absolute;
            top: 8%;
            left: 1%;
            width: 26%;
            height: 3px;
            background-color: #fd5901;
          }
        }

        .element_underline_five {
          color: #000;
          text-align: center;
          font-family: Poppins;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.064px;
          text-transform: capitalize;

          &::after {
            content: "";
            position: absolute;
            top: 26%;
            left: 1%;
            width: 32%;
            height: 3px;
            background-color: #fd5901;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .complience_main_container {
    .container {
      a {
        color: #000;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: absolute;
        text-decoration: none;
        top: 12%;

        img {
          width: 6.495px;
          height: 10.109px;
          flex-shrink: 0;
          margin-right: 5px;
        }
      }

      .heading_section_fund {
        margin-top: 3rem;

        h1 {
          font-size: 28px;
          margin-top: 20px;
        }

        p {
          font-size: 14px;
        }

        .title_and_image {
          img {
            margin-right: 8px;
            width: 32px;
            height: 32.36px;
          }

          h2 {
            position: relative;
            font-size: 20px;
          }
        }
      }

      .title_text_description {
        .underline_title {
          font-size: 20px;
          margin-top: 10px;

          &::after {
            content: "";
            position: absolute;
            top: 16%;
            left: 2%;
            width: 12rem;
            height: 3px;
            background-color: #fd5901;
          }
        }

        p {
          font-size: 14px;
        }
      }

      .list_section {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 20px;
          position: relative;

          p {
            color: #000;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          li {
            display: flex;
            // align-items: center;
            // margin-bottom: 20px;
            color: #343434;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            justify-content: center;

            ::before {
              content: "\2022";
              /* Unicode character for bullet point */
              margin-right: 10px;
              color: #fd5901;
              font-size: 40px;
            }

            img {
              margin-right: 20px;
              width: 20px;
              height: 20px;
            }

            div {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 50px;
            }
          }

          .element_underline_one {
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.064px;
            text-transform: capitalize;

            &::after {
              content: "";
              position: absolute;
              top: 24%;
              left: 0%;
              width: 95%;
              height: 3px;
              background-color: #fd5901;
            }
          }

          .element_underline_two {
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.064px;
            text-transform: capitalize;

            &::after {
              content: "";
              position: absolute;
              top: 4%;
              left: 0%;
              width: 38%;
              height: 3px;
              background-color: #fd5901;
            }
            p {
              margin-bottom: 20px;
            }
          }

          .element_underline_three {
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.064px;
            text-transform: capitalize;

            &::after {
              content: "";
              position: absolute;
              top: 4%;
              left: 0%;
              width: 27%;
              height: 3px;
              background-color: #fd5901;
            }
          }

          .element_underline_four {
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.064px;
            text-transform: capitalize;

            &::after {
              content: "";
              position: absolute;
              top: 4%;
              left: 0%;
              width: 32%;
              height: 3px;
              background-color: #fd5901;
            }
          }

          .element_underline_five {
            color: #000;
            text-align: center;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.064px;
            text-transform: capitalize;

            &::after {
              content: "";
              position: absolute;
              top: 14%;
              left: 1%;
              width: 38%;
              height: 3px;
              background-color: #fd5901;
            }
          }
        }
      }
      .commercial_due_deligence_section {
        ul {
          li {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
    .complience_main_container {
      .container {
        a {
          color: #000;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          position: absolute;
          text-decoration: none;
          top: 12%;
  
          img {
            width: 6.495px;
            height: 10.109px;
            flex-shrink: 0;
            margin-right: 5px;
          }
        }
  
        .heading_section_fund {
          margin-top: 3rem;
  
          h1 {
            font-size: 28px;
            margin-top: 20px;
          }
  
          p {
            font-size: 14px;
          }
  
          .title_and_image {
            img {
              margin-right: 8px;
              width: 32px;
              height: 32.36px;
            }
  
            h2 {
              position: relative;
              font-size: 20px;
            }
          }
        }
  
        .title_text_description {
          .underline_title {
            font-size: 20px;
            margin-top: 10px;
  
            &::after {
              content: "";
              position: absolute;
              top: 16%;
              left: 2%;
              width: 12rem;
              height: 3px;
              background-color: #fd5901;
            }
          }
  
          p {
            font-size: 14px;
          }
        }
  
        .list_section {
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 20px;
            position: relative;
  
            p {
              color: #000;
              font-family: Poppins;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
  
            li {
              display: flex;
              // align-items: center;
              // margin-bottom: 20px;
              color: #343434;
              font-family: Poppins;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              justify-content: center;
  
              ::before {
                content: "\2022";
                /* Unicode character for bullet point */
                margin-right: 10px;
                color: #fd5901;
                font-size: 40px;
              }
  
              img {
                margin-right: 20px;
                width: 20px;
                height: 20px;
              }
  
              div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
              }
            }
  
            .element_underline_one {
              color: #000;
              text-align: center;
              font-family: Poppins;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: -0.064px;
              text-transform: capitalize;
  
              &::after {
                content: "";
                position: absolute;
                top: 14%;
                left: 2%;
                width: 95%;
                height: 3px;
                background-color: #fd5901;
              }
            }
  
            .element_underline_two {
              color: #000;
              text-align: center;
              font-family: Poppins;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: -0.064px;
              text-transform: capitalize;
  
              &::after {
                content: "";
                position: absolute;
                top: 4%;
                left: 2%;
                width: 65%;
                height: 3px;
                background-color: #fd5901;
              }
              p {
                margin-bottom: 20px;
              }
            }
  
            .element_underline_three {
              color: #000;
              text-align: center;
              font-family: Poppins;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: -0.064px;
              text-transform: capitalize;
  
              &::after {
                content: "";
                position: absolute;
                top: 4%;
                left: 1%;
                width: 47%;
                height: 3px;
                background-color: #fd5901;
              }
            }
  
            .element_underline_four {
              color: #000;
              text-align: center;
              font-family: Poppins;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: -0.064px;
              text-transform: capitalize;
  
              &::after {
                content: "";
                position: absolute;
                top: 4%;
                left: 1%;
                width: 56%;
                height: 3px;
                background-color: #fd5901;
              }
            }
  
            .element_underline_five {
              color: #000;
              text-align: center;
              font-family: Poppins;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              letter-spacing: -0.064px;
              text-transform: capitalize;
  
              &::after {
                content: "";
                position: absolute;
                top: 9%;
                left: 1%;
                width: 68%;
                height: 3px;
                background-color: #fd5901;
              }
            }
          }
        }
        .commercial_due_deligence_section {
          ul {
            li {
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
  