.feedpostcard_main_container {
  .feedpostcard_container {
    .para_container {
      display: flex;
      margin: auto;

      .para_container_text {
        p {
          // height: 258px;
          flex-shrink: 0;
          border-radius: 20px;
          border: 1px solid #dadada;
          background: #eaeef2;
          color: #373737;
          font-size: 18px;
          font-family: Poppins;
          font-weight: 500;
          line-height: 160%;
          letter-spacing: 0.42px;
          padding: 20px 15px;

          @media (max-width: 768px) {
            height: auto;
            font-size: 15px; /* Reduce font size for smaller screens */
          }
        }
      }
    }

    .feed_header_container {
      display: flex;
      justify-content: space-between;

      .feedpostcard_content {
        display: flex;
        justify-content: center;
        align-items: center;

        .feedpostcart_text_header {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px;

          .connect_btn {
            display: inline;
          }

          .connect_btn button {
            height: 48px;
            flex-shrink: 0;
            border-radius: 131px;
            background: #505050;
            color: #fff;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: #fff;
            font-size: 12px;
            font-family: Poppins;
            font-weight: 500;
          }

          img {
            width: 15.954px;
            height: 26.346px;
            margin-right: 5px;

            @media (max-width: 768px) {
              width: 10.954px; /* Adjust image size for smaller screens */
              height: 18.346px;
            }
          }

          span {
            margin-right: 5px;
          }
        }
      }

      .feedpostcard_footer {
        img {
          width: 15.954px;
          height: 26.346px;
          margin-right: 5px;

          @media (max-width: 768px) {
            width: 10.954px; /* Adjust image size for smaller screens */
            height: 18.346px;
          }
        }

        .feedpostcard_footer_like_comment {
          span {
            margin-right: 5px;
          }
        }
      }

      .three_dot {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
      }

      .feedpostcard_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .comment_container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;
        }

        .input_logo_section {
          display: flex;
          align-items: center;
          padding: 10px;
          width: 80%;

          .logo {
            img {
              max-width: 50px;
              margin-right: 10px;
            }
          }

          .input_box {
            display: flex;
            align-items: center;
            width: 100%;

            input[type="text"] {
              flex-grow: 1;
              padding: 5px;
              border: none;
              border-radius: 4px;
            }

            .icons {
              display: flex;
              margin-left: 10px;

              .smiley_icon,
              .image_icon {
                font-size: 20px;
                cursor: pointer;
                margin-right: 5px;
              }
            }
          }
        }
      }

      .feedpostcard_footer_like_comment {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  .box {
    background-color: #fff;
    padding: 10px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);
  }
  .comment_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust the height as needed */
    .logo {
      img {
        max-width: 60px;
        margin-right: 10px;
      }
    }

    .input_and_logo_section {
      display: flex;
      align-items: center;
      padding: 10px;
      width: 80%;

      .input_box {
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 170px;
        border: 1px solid #cacaca;
        background: #fcfcfc;
        height: 54px;

        input[type="text"] {
          flex-grow: 1;
          padding: 5px;
          border: none;
          border-radius: 4px;
          outline: none;
          margin-left: 15px;
        }

        .icons {
          display: flex;
          margin-left: 10px;
          justify-content: center;
          align-items: center;

          .smiley_icon,
          .image_icon {
            font-size: 20px;
            cursor: pointer; // Optional: Add cursor pointer for icons
            margin-right: 5px;
            img {
              height: 50px;
              width: 50px;
            }
          }
        }
      }
    }
  }
  .comment_messages {
    border-radius: 20px;
    background: #ededed;
    .connection_item {
      padding-bottom: 7px;
      padding: 10px;
      .connection_left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        .comment_connection {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-left: 20px;
        }

        img {
          height: 60px;
          width: 60px;
          border-radius: 50%;
        }

        .body_container {
          .h6 {
            font-weight: 600;
          }
          p {
            margin: 0;
            padding: 0;
          }
          .connection_time {
            font-size: 12px;
          }
          .connection_designation {
            color: #484848;
            font-family: Poppins;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
          .connection_name {
            color: #484848;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
       
        }
      }

      .connection_right {
        display: flex;
        gap: 10px;
        .days_time {
          color: #000;
          font-family: Poppins;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-right: 10px;
        }
      }
    }
    .comment_text {
      color: #000;
      font-family: Poppins;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0px 20px 20px 20px;
    }
  }

  .logo img {
    max-width: 50px; /* Adjust the logo size as needed */
    margin-right: 10px; /* Add some spacing between the logo and input box */
  }

  .input_box {
    display: flex;
    align-items: center;
    width: 100%;
  }

  input[type="text"] {
    flex-grow: 1; /* Grow the input box to take up remaining space */
    padding: 5px;
    border: 1px solid #ccc; /* Optional: Add a border to the input box */
    border-radius: 4px; /* Optional: Add border-radius */
  }

  .icons {
    display: flex;
    margin-left: 10px; /* Add some spacing between the input box and icons */
  }

  .smiley_icon,
  .image_icon {
    font-size: 20px; /* Adjust the icon size as needed */
    cursor: pointer; /* Optional: Add cursor pointer for icons */
    margin-right: 5px; /* Optional: Add spacing between icons */
  }
}
