.feedpostcard_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed_header_container {
  display: flex;
  justify-content: space-between;
}
.feedpostcart_text_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.feedpostcart_text_header img {
  width: 15.954px;
  height: 26.346px;
  margin-right: 5px;
}
.feedpostcard_footer img {
  width: 15.954px;
  height: 26.346px;
  margin-right: 5px;
}
.feedpostcart_text_header span {
  margin-right: 5px;
}
.feedpostcard_footer_like_comment span {
  margin-right: 5px;
}
.para_container {
  display: flex;
  margin: auto;
}
.para_container_text p {
  height: 258px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #dadada;
  background: #eaeef2;
  color: #373737;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.42px;
  padding: 20px 15px;
}
.feedpostcard_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedpostcard_footer_like_comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.three_dot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
