.register_container {
  .register_heading {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;

    .backArrow {
      position: absolute;
      top: 16%;
      left: 16%;
      height: 8%;
      width: 12%;
      cursor: pointer;
    }

    h3 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 80px;
      margin-top: 150px;
      color: #000000;
    }

    img {
      margin-top: -50px;
      height: 400px;
    }
  }

  .register_heading_right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;

    .backArrow_mobile {
      display: none;
    }

    h1 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      color: #000000;
    }

    h3 {
      margin-left: 10px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 33px;
      color: #000000;
    }

    .welcome {
      display: none;
    }

    .already_have_account_mobile {
      display: none;
    }
  }

  label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    background-color: #fff;
    padding: 18px 17px;
    gap: 10px;
    height: 54px;
    border: 2px solid #000000;
    border-radius: 10px;

    &.first_name {
      width: 46%;
    }
  }

  input[type="tel"] {
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    background-color: #fff;
    padding: 18px 17px;
    gap: 10px;
    height: 54px;
    border: none;
    border-radius: 10px;
    outline: none;

    &:focus {
      border: none;
    }
  }

  .form-check {
    margin: 20px;

    .form-check-label {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: #000000;
    }
  }

  button[type="submit"] {
    width: 437px;
    height: 50px;
    left: 832px;
    top: 745px;
    background: #fd5901;
    border-radius: 10px;
    border: none;
  }

  .submit_btn {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    justify-content: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }

  .line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 20px 0px 20px 72px;

    .line {
      flex-grow: 1;
      height: 1px;
      background-color: black;
    }
  }

  .text {
    font-size: 18px;
  }

  .login_icons {
    margin-left: -36px;

    img {
      height: 30px;
      margin: 10px;
    }
  }
  position: relative;
  &.blur {
    filter: blur(5px);
    pointer-events: none; // Disable pointer events on blurred container
  }

  // otp Verification starts
  .verification_container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    .login_content_main {
      // position: absolute;
      // top: 20%;
      // left: 40%;
      background: #fff;
      box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.05);
      margin-bottom: 50px;

      .login_content {
        padding: 25px;

        p {
          color: #a1a1a1;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 47.707px;
        }

        h2 {
          color: #000;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 47.707px;
        }

        h6 {
          color: #717171;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 10px;
        }

        h3 {
          color: #dcae59;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0;
          margin-top: 10px;
        }

        label {
          color: #000;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 47.707px;
        }

        .continue_btn {
          display: flex;
          justify-content: center;
          margin-top: 20px;

          button {
            width: 311px;
            height: 56px;
            flex-shrink: 0;
            background: #dcae59;
            border: none;
            color: #fff;
            cursor: pointer;
          }
        }

        // input
        // Define the size of each square box
        $box-size: 30px;

        // Container for the OTP input
        .otp-container {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 20px;
        }

        // Individual box
        .otp-box {
          width: 50px;
          height: 50px;
          border: 1px solid #ccc;
          margin-right: 10px;
          text-align: center;
          font-size: 20px;
        }

        // Input field (hidden)
        .otp-input {
          position: absolute;
          opacity: 0;
          width: 0;
          height: 0;
          pointer-events: none;
        }

        // Style the box when it has a value
        .otp-box{
          border-color: #000;
        }
        .has-value {
          border-color: #000;
        }

        // Style the box when it is focused
        .otp-box.focus {
          border-color: #007bff;
          outline: none;
        }

        // Style the box when it has an error
        .otp-box.error {
          border-color: red;
        }
      }

      .login_btns {
        display: flex;
        justify-content: space-between;

        .login_btn {
          background: #fff;
          box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.05);
          cursor: pointer;
          width: 45%;
          height: 56px;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 47.707px;
          border: 2px solid #000;
        }

        .login_btn:nth-child(1) {
          border: 1px solid red;
        }

        .login_logo {
          width: 38px;
          height: 38px;
          margin-right: 10px;
        }
      }

      .inputsection {
        margin-top: 20px;

        label {
          display: block;
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
    }
  }
  // otp Verification ends
}

@media screen and (max-width: 768px) {
  .register_container {
    .register_heading {
      display: none;
    }

    .register_heading_right {
      .backArrow_mobile {
        display: block;
        position: absolute;
        top: 0%;
        left: 2%;
        height: 4%;
        width: 8%;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 24px;
      }

      label {
        color: #000;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      input[type="text"],
      input[type="tel"],
      input[type="password"] {
        width: 100%;
        padding: 15px;
        border-radius: 3px;
        background-color: #fff;
        padding: 18px 17px;
        gap: 10px;
        height: 54px;
        border: 2px solid #000000;
        border-radius: 10px;

        &.first_name {
          width: 100%;
        }

        &::placeholder {
          color: #b4b4b4;
          font-family: Poppins;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .welcome {
        display: block;
        color: #000;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .already_have_account {
        display: none;
      }

      .already_have_account_mobile {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        color: #b4b4b4;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .submit_btn {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 100%;
      justify-content: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      color: #ffffff;

      button {
        width: 80%;
      }
    }

    .line-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      margin: 20px 0px 20px 85px;

      .line {
        flex-grow: 1;
        height: 1px;
        background-color: black;
      }
    }

    .login_icons {
      margin-left: 0px;

      img {
        height: 30px;
        margin: 10px;
      }
    }
  }
}
