.company_details_container {
  .company_details {
    /* height: 400px; */
    &.mt-4 {
      margin-top: 4rem;
    }

    .image_name_section {
      display: flex;
      // align-items: center;
      justify-content: flex-start;
      // flex-direction: column;
      // gap: 01em;

      @media (min-width: 768px) {
        justify-content: flex-start;
      }

      &.mt-2 {
        margin-top: 2rem;
      }

      img {
        width: 90px;
        height: 90px;
      }
    }

    .edit-container {
      display: flex;
      justify-content: flex-end;
    }

    .edit-btn {
      border-radius: 131px;
      border: 1px solid var(--bs-border-color);
      width: 107px;
      height: 35px;
      flex-shrink: 0;
      color: #717171;
      font-size: 18px;
      font-family: Poppins;
      cursor: pointer;
      margin-left: -4px;
    }

    .description {
      border: 1px solid #ccc;
      padding: 6px;
      outline: none;
      transition: all 0.2s ease-in-out;

      &:focus {
        border: 1px solid rgba(253, 89, 1, 1);
      }
    }

    .social-inputs {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .input-group {
      display: flex;
      align-items: center;
    }

    .input-group label {
      width: 120px;
      font-size: 14px;
      margin-right: 10px;
    }

    .input-group input {
      flex: 1;
      padding: 6px;
      border: 1px solid #ccc;
      // border-radius: 10px;
      font-size: 14px;

      outline: none;
      transition: all 0.2s ease-in-out;

      &:focus {
        border: 1px solid rgba(253, 89, 1, 1);
      }
    }

    .company_details_logo_container {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      // background: #f6f6f6;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        /* Styles for the logo image */
      }
    }

    .left_profile_text {
      .typography {
        font-size: 22px;
        font-family: Poppins;
        margin: 0.5rem;
       
      }

      .small_typo {
        font-size: 16px;
        font-family: Poppins;

        &.m-2 {
          margin: 0.5rem;
        }

        &.location_icon {
          img {
            height: 16px;
            width: 16px;
            margin-right: 5px;
          }
        }

        &.social_icon {
          display: flex;
          align-items: center;
          cursor: pointer;

          img {
            height: 24px;
            width: 24px;
            margin-right: 22px;
          }

          &.mt-3 {
            margin-top: 3rem;
          }
        }
      }
    }
  }

  .box {
    // background-color: #fff;
    background: var(--white-to-grey);
    padding: 10px;
    border-radius: var(--border-radius);
    // box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);
  }

  p {
    color: #595959;
    font-size: 16px;
    font-family: Poppins;
    line-height: 150%;
    letter-spacing: 0.76px;
  }
}

@media (max-width: 820px) {
  .company_details_container {
    .company_details {
      .image_name_section {
        .company_details_logo_container {
          height: 61px;
          width: 62px;
          align-self: flex-start;

          img {
            height: 60px;
            width: 60px;
          }
        }

        .typography {
            color: var(--d-l-grey);
                  font-size: 20px;
          font-family: Poppins;
          font-weight: 600;
          margin: 0;
        }

        .smallest_typo {
          color: #686868;
          font-size: 10px;
          font-family: Poppins;
        }

        .small_typo {
          color: #717171;
          font-size: 14px;
          font-family: Poppins;
        }
      }

      .typography {
        color: #000;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin: 0;
      }

      .smallest_typo {
        color: #686868;
        font-size: 10px;
        font-family: Poppins;
      }

      .small_typo {
        color: #717171;
        font-size: 14px;
        font-family: Poppins;
      }

      .typography {
        color: #000;
        font-size: 17px;
        font-family: Poppins;
        font-weight: 600;
        margin: 0;
      }

      .smallest_typo {
        color: #686868;
        font-size: 10px;
        font-family: Poppins;
      }

      .small_typo {
        color: #717171;
        font-size: 14px;
        font-family: Poppins;
      }

      .para_text {
        color: #595959;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 11.609px */
        letter-spacing: 0.31px;
      }
    }
  }
}

@media (max-width: 1025px) {
  .company_details_container {
    .company_details {
      // width: 100%;

      .image_name_section {
        .company_details_logo_container {
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .company_details_container {
    .company_details {
      // width: 500px;
    }
  }
}
