.Input {
    input {
        padding: 15px 20px;
        outline: none;
        border: none;
        background: #f4f4f4;
        width: 300px;
        font-size: 12px;
        font-weight: 200;
        border-radius: 25px;
    }
}
