.explore_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .filter_container {
    --color-investor: rgb(211, 243, 107);
    border-radius: 10px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0.125rem 0.25rem rgba(black, 0.075);

    display: flex;
    flex-direction: column;
    gap: 1em;

    h5 {
      // For lining h5 with filter text
      padding-inline: 10px;
    }

    .filter_by {
      // border: 1px solid red;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin-bottom: 20px;
      .active {
        color: #000;
        background-color: #d3f36b;
      }
      button {
        border: none;
        color: #9c8f8f;
        background-color: white;
        border-radius: 5px;
        padding: 5px 10px;
        width: fit-content;
      }
    }

    .btn-capital {
      width: fit-content;
      background-color: var(--color-investor);
      border: 1px solid var(--color-investor);
      border-radius: 5px;
      outline: none;

      color: black;
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 0.75rem;
      padding: 0.75em 1em;

      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:hover {
        transform: scale(0.98) !important;
      }
    }

    .btn-capital-small {
      background-color: var(--color-investor);
      border: 1px solid var(--color-investor);
      border-radius: 5px;
      outline: none;

      color: black;
      font-family: "Poppins", sans-serif;
      font-size: 0.75rem;
      line-height: 0.5rem;
      font-weight: 500;
      padding: 0.5em 1.5em;

      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:hover {
        transform: scale(0.98) !important;
      }
    }

    .investor_explore_filters_container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      gap: 1em;
    }
  }

  .filtered_company_details {
    // box-shadow: 0 0.125rem 0.25rem rgba(black, 0.075);
    // padding: 10px;
    // background: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 20px;
  }
}
