.folderContents {
    display: flex;
    background: white;
    padding: 20px;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .folderContents {
        margin-left: 0px;
    }
}
