.table-container {
    width: 100%;
    margin-left: 5%;
    position: relative;
    h2 {
        background-color: #fff;
        position: absolute;
        top: -10px;
        left: 10%;
        transform: translateX(-50%);
        border-radius: 5px;
        color: #ff772f;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    table,
    th,
    td {
        border: 1px solid black;
        width: 100%;
    }

    th,
    td {
        padding: 20px 70px;
        text-align: left;
    }

    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        border: 1px solid black;
        border-collapse: collapse;
    }
    .hidden {
        display: none;
    }
}
