.cards__container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.cards__container::-webkit-scrollbar {
  height: 10px;
}
.cards__container::-webkit-scrollbar-thumb,
.cards__container::-webkit-scrollbar-track {
  border-radius: 10rem;
}
.cards__container::-webkit-scrollbar-thumb {
  background: rgba(211, 243, 107, 0.2);
}

.cards__container::-webkit-scrollbar-thumb:hover {
  background: rgba(211, 243, 107, 1);
}
