.newscorner_container {
    .newscorner_card {
        display: flex;
        justify-content: center;
        align-items: center;

        .right_view_profile_card {
            border-radius: 20px;

            .card-header {
                background-color: #000;
                color: #fff;
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                border-radius: 20px 20px 0px 0px;

                .title {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                }
            }

            .card-body {
                h5 {
                    color: #000;
                    font-size: 13px;
                    font-family: Poppins;
                    font-weight: 500;
                }

                .input-group {
                    position: relative;
                }

                .input-group input {
                    height: 2rem;
                }

                .input-group input::placeholder {
                    font-size: 0.8rem;
                }

                .send-button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 1;
                    background-color: #000;
                    color: #fff;
                }
            }
        }

        .right_view_profile {
            width: 100%;
        }
    }

    .newscorner_card_body {
        display: flex;
        justify-content: start;
        align-items: flex-start;

        img {
            width: 30px;
        }

        .newscorner_card_text {
            h3 {
                color: #484848;
                font-size: 15px;
                font-family: Poppins;
                font-weight: 600;
            }

            button {
                width: 100px;
                height: 29px;
                flex-shrink: 0;
                border-radius: 20px;
                border: 1px solid #acacac;
                color: #000;
                font-size: 13px;
                padding: 20px 5px;
                font-family: Poppins;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #fff;

                img {
                    width: 13px;
                }
            }

            .smallest_typo {
                color: #686868;
                font-size: 12px;
                font-family: Poppins;
            }
        }
    }

    .newscorner_card hr {
        margin: 0px 5%;
    }
}
