:root {
  --scrollbarBG: #eee;
  --thumbBG: #7e7e7e;

  --startup: #fd5901;
  --startup-light: #fd5901;
  --startup-dark: #e95100;
  --startup-text: #ffffff;

  --investor: rgb(211, 243, 107);
  --investor-dark: rgb(165, 190, 82);
  --investor-light: rgb(211, 243, 107);
  --investor-text: rgb(2, 2, 2);

  --currentTheme: var(--startup);
  --currentTheme-dark: var(--startup-dark);
  --currentTheme-light: var(--startup-light);
  --currentTheme-text: var(--startup-text);

  --border-radius: 1rem;

  // --hover-bg-grey: rgb(240, 240, 240);
  --hover-bg-grey: rgb(243, 243, 243);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

.hide_scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn-xs {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.75rem;
}

.investor_text {
  color: rgb(211, 243, 107);
}

.investor_bg {
  color: rgb(26, 26, 26);
  background-color: rgb(211, 243, 107);
}
