.investment_philosophy_wrapper {
  // &.leftBorder {
  //   @media (min-width: 1200px) {
  //     border-left: 1px solid #e7e7e7;
  //   }
  // }

  .investment_philosophy_section {
    fieldset,
    legend {
      all: revert;
    }

    .fieldbox {
      background-color: rgba(251, 251, 251, 1);
      flex: 0 0 18rem;
      min-height: 70px;

      @media (min-width: 1200px) {
        flex: 0 0 22.5rem;
      }
    }

    .revenue_table {
      td {
        min-width: 14rem;
        height: 120px;
      }

      td + td {
        border-left: 1px solid #e7e7e7;
      }

      .table_container {
        &::-webkit-scrollbar {
          height: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #d3f36b33;
          border-radius: 10rem;

          &:hover {
            background-color: #d3f36b;
          }
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
          border-radius: 10rem;
          //   margin-inline: 20dvw;
        }
      }
    }

    .minus-mt {
      margin-top: -45px;
    }

    // Sectors
    .sector_tag {
      background-color: #d3f36b;
      color: #222;
      font-size: 1.125rem;
      line-height: 0.75rem;
      // font-weight: 500;
      padding: 0.75em 1.5em;
      border-radius: 8px;
      border: 1px solid #94c100;
    }
  }

  .page_heading {
    font-size: 28px;
    @media (min-width: 1200px) {
      font-size: 32px;
    }
  }
}
