.chevron-down {
    margin-left: auto;
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
  }
  
  .szh-accordion {
    border-bottom: 1px solid #ccc;
    &__item {
        border-top: 1px solid #ccc;
  
      &-btn {
        cursor: pointer;
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 400;
        text-align: left;
        color: #fff;
        background-color: transparent;
        border: none;
      }
  
      &-content {
        transition: height 0.25s cubic-bezier(0, 0, 0, 1);
      }
  
      &-panel {
        padding: 1rem;
      }
  
      &--expanded {
        .szh-accordion__item-btn {
          //background-color: #e7e7e7;
        }
        .chevron-down {
          transform: rotate(180deg);
        }
      }
    }
  }