.PortfolioPage_page {
  .top_section {
    display: grid;
    grid-template-columns: auto auto auto;

    .box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 10px;
      height: 580px;
        // width: 420px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; /* Centers the background image */
      color: white;
    //   background-position: center; /* Centers the background image */
      img {
        width: 150px;
        height: 50px;
        padding: 10px;
      }
      p {
        padding: 10px;
      }
    }
    .box_one {
      background-image: url("../../../Images/Portfolio/PortfolioPage/books.png");
    }
    .box_two {
      background-image: url("../../../Images/Portfolio/PortfolioPage/startup.png");
    }
    .box_three {
      background-image: url("../../../Images/Portfolio/PortfolioPage/bus.png");
      img {
        width: 47px;
        height: 64px;
      }
    }
    .box_four {
      background-image: url("../../../Images/Portfolio/PortfolioPage/men.png");
      img {
        width: 63px;
        height: 67px;
      }
    }
    .box_five {
      background-image: url("../../../Images/Portfolio/PortfolioPage/books.png");
    }
    .box_six {
      background-image: url("../../../Images/Portfolio/PortfolioPage/startup.png");
    }
  }
  .botton_section {
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    gap: 5px;
    padding: 40px;
    margin: 8px;
    background-color: #ff6969;
    color: white;
    button {
      outline: none;
      border: none;
      border-radius: 5px;
      width: 10%;
    }
  }
}

@media (max-width: 1024px) {
  .PortfolioPage_page {
    .top_section {
      display: grid;
      grid-template-columns: auto;
      .box{
        height: 318px;
      }
    }
    .botton_section {
      text-align: center;
      h1 {
        font-size: 28px;
      }
      button {
        width: 100%;
      }
    }
  }
}



@media (max-width: 912px) {
    .PortfolioPage_page {
      .top_section {
        .box{
          height: 580px;
        }
      }
    }
}


@media (max-width: 450px) {
    .PortfolioPage_page {
      .top_section {
        .box{
          height: 318px;
        }
      }
    }
}
