.simpleCard {
    padding: 20px 0px;
    padding-left: 10px;
    h4 {
        font-size: 13px;
        font-weight: 300;
    }
    p {
        font-size: 12px;
        width: 400px;
        font-weight: 200;
        border: 1px solid black;
        padding: 50px 50px 50px 10px;
    }
}
