/* why choose us */
.why_choose_us_container {
  background-color: #000;

  .why_choose_us {
    color: #fff;

    h1 {
      color: #fff;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 72px;
      text-align: center;
      letter-spacing: -0.002em;
      // padding: 80px;
    }
  }
}

.why_chooseus_card {
  box-sizing: border-box;
  width: 357px;
  height: 380px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  color: #fff;
  background: #fcfcfc;

  .text_center {
    margin: 20px 0px;
  }

  .inside_card {
    /* margin: 26px; */

    img {
      height: 120px;
      width: 120px;
    }

    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 45px;
      text-align: center;
      letter-spacing: -0.002em;
      color: #000000;
    }

    h4 {
      color: #414141;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 820px) {
  .why_choose_us_container {
    .why_choose_us {
      h1 {
        font-size: 26px;
        // padding: 20px;
      }
      .why_chooseus_card {
        box-sizing: border-box;
        width: 310px;
        height: 365px;
        border: 1px solid #e3e3e3;
        border-radius: 10px;
        color: #fff;
        background: #fcfcfc;

        .text_center {
          margin: 20px 0px;
        }

        .inside_card {
          /* margin: 26px; */

          img {
            height: 120px;
            width: 120px;
          }

          h2 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 45px;
            text-align: center;
            letter-spacing: -0.002em;
            color: #000000;
          }

          h4 {
            color: #414141;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px;
            text-align: center;
          }
        }
      }
    }
  }
}

.mb-69 {
  margin-bottom: 69px;
}
