.coming_soon_container {
  h1 {
    color: #fd5901;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 11.52px;
    text-transform: uppercase;
  }
  .green {
    color: #d3f36b;
  }
  h4 {
    color: #000;
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 10.7px;
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eaeef2;
    border-radius: 10px;
    max-height: 60px;
    min-width: 400px;

    input[type="text"] {
      border-radius: 10px;
      background: #eaeef2;
      height: 60px;
      flex-shrink: 0;
      border: none;
      outline: none;
      margin-left: 20px;
      flex-grow: 1;

      &.focus {
        outline: none;
      }
    }

    input::placeholder {
      color: #a6acae;
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .search-button {
      border-radius: 10px;
      background: #fd5901;
      color: #fff;
      font-family: Poppins;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border: none;
      width: 100px;
      height: 37px;
      flex-shrink: 0;
      margin-right: 20px;
    }
  }
}

@media (max-width: 768px) {
  .coming_soon_container {
    h1 {
      font-size: medium;
    }
    img {
      width: 70%;
    }
    h4 {
      font-size: x-small;
    }
    .search-container {
      min-width: 200px;
      width: 300px;
    }
  }
}
