.looking_for_fund_wrapper {
  border-radius: 0;

  @media (min-width: 576px) {
    border-radius: var(--border-radius);
  }

  .orange_button {
    border-radius: 10px;
    background: #fd5901;
    border: 1px solid #fd5901;

    padding: 8px 8px;
    font-size: 14px;
    color: white;
    transition: 0.25s;

    @media (min-width: 768px) {
      padding-inline: 25px;
      font-size: 1rem;
    }

    &:hover {
      background-color: transparent;
      color: #fd5901;
    }

    &:active {
      background-color: #fd5901;
      border: 1px solid #fd5901;
      color: white;
    }
  }
}
