.ShareLink_container {
  .box_container {
    max-width: 750px;
    // height: 411px;
    background-color: #fff;
    padding: 10px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);

    .title_section {
      h6 {
        color: #101010;
        font-family: Poppins;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-left: 20px;
        margin-top: 10px;
      }
    }

    .copy_link_input {
      .left_margin {
        margin-left: 10px !important;
      }

      .input_container {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 8px;
        margin: 20px 0;
        position: relative;
        width: 95%;
        justify-content: center;

        .left_icons {
          display: flex;
          justify-content: center;
          margin-right: 10px;
          border-radius: 10px;
          background: #fd5901;
          width: 38px;
          height: 38px;
          position: absolute;
          align-items: center;
          left: 1.5%;

          &.startup {
            background-color: #fd5901;
          }

          &.investor {
            background-color: rgb(211, 243, 107);
          }

          svg {
            /* Add any styling for the SVG image on the left */
          }
        }

        .right_icons {
          display: flex;
          align-items: center;

          .right_icons_img1 {
            margin-right: 10px;
            background: #eaeef2;
            width: 20px;
            height: 28px;
            position: absolute;
            cursor: pointer;
            right: 1%;
          }

          .right_icons_img2 {
            margin-right: 10px;
            background: #eaeef2;
            width: 20px;
            height: 28px;
            position: absolute;
            cursor: pointer;
            right: 6%;
          }

          .right_icons_img3 {
            margin-right: 10px;
            background: #eaeef2;
            width: 20px;
            height: 28px;
            position: absolute;
            cursor: pointer;
            right: 12%;
          }
        }

        input {
          flex: 1;
          border: none;
          outline: none;
          font-size: 14px;
          padding: 8px;
          border-radius: 6px;
          background-color: #eaeef2;
          margin-left: 30px;

          ::placeholder {
            color: #999;
          }
        }
      }
    }

    .previous_link {
      h5 {
        color: #484848;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .ShareLink_container {
    .box_container {
      width: 100%;
      // height: 411px;
      background-color: #fff;
      padding: 10px;
      border-radius: 40px;
      background: #fff;
      box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.05);

      .title_section {
        h6 {
          color: #101010;
          font-family: Poppins;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-left: 20px;
          margin-top: 10px;
        }
      }

      .copy_link_input {
        .left_margin {
          margin-left: 10px !important;
        }

        .input_container {
          display: flex;
          align-items: center;
          padding: 10px 15px;
          border-radius: 8px;
          margin: 20px 0;
          position: relative;
          width: 95%;
          justify-content: center;

          .left_icons {
            display: flex;
            justify-content: center;
            margin-right: 10px;
            border-radius: 10px;
            background: #fd5901;
            width: 38px;
            height: 38px;
            position: absolute;
            align-items: center;
            left: 1.5%;

            svg {
              /* Add any styling for the SVG image on the left */
            }
          }

          .right_icons {
            display: flex;
            align-items: center;

            .right_icons_img1 {
              margin-right: 10px;
              background: #eaeef2;
              width: 20px;
              height: 28px;
              position: absolute;
              cursor: pointer;
              right: 1%;
            }

            .right_icons_img2 {
              margin-right: 10px;
              background: #eaeef2;
              width: 20px;
              height: 28px;
              position: absolute;
              cursor: pointer;
              right: 11%;
            }

            .right_icons_img3 {
              margin-right: 10px;
              background: #eaeef2;
              width: 20px;
              height: 28px;
              position: absolute;
              cursor: pointer;
              right: 21%;
            }
          }

          input {
            flex: 1;
            border: none;
            outline: none;
            font-size: 14px;
            padding: 8px;
            border-radius: 6px;
            background-color: #eaeef2;
            margin-left: 22px;

            ::placeholder {
              color: #999;
            }
          }
        }
      }

      .previous_link {
        h5 {
          color: #484848;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-left: 20px;
        }
      }
    }
  }
}
