.colorcard-component {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px 10px;
  flex-shrink: 0;
  border-radius: var(--border-radius) !important;
  // border: 0.517px solid #dcdcdc;
  background: #bb98ff;
  box-shadow: 2.0674986839294434px 2.0674986839294434px 3.101248025894165px 0px
    rgba(0, 0, 0, 0.05);

  &:hover {
    .left-content {
      .rupee-sign {
        .edit-tip {
          visibility: visible;
          opacity: 1;
          transition: opacity 150ms ease-in;
        }
      }
    }
  }

  .left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;

    .title {
      margin: 0;
      font-size: 12px;
      font-weight: bold;
    }

    .rupee-sign {
      font-size: 14px;
      margin-top: 5px;
      position: relative;
      // border: 1px solid white;

      .edit-tip {
        // border: 1px solid yellow;
        width: 12ch;
        position: absolute;
        top: 110%;
        left: 0;

        visibility: hidden;
        opacity: 0;
        transition: opacity 150ms ease-in;
      }
    }

    .edit_input {
      background-color: transparent;
      width: 15ch;
      outline: 1px solid var(--bs-border-color);
      border: none;
      margin: 0;
      font-size: 15px;
      font-weight: bold;
      color: white;
    }
  }

  .right-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

@media (max-width: 426px) {
  .colorcard-component {
    width: 100%;
    margin: 0;
    margin-inline: auto;
    flex-direction: row !important;
  }
}
