.createpostpopup .ceatepost_img_name {
  padding: 0px;
}
.createpost_modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}
.modal-body .createpost_text_area {
  height: 200px;
}
.createpost_modal_footer {
  display: flex;
  margin: auto;
}
.modal_footer_container {
  width: 480px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 17.882px;
  border: 0.894px solid #e0e0e0;
  background: #eaeef2;
}

/* footer */

.modal_footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_buttons {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.white_button {
  background-color: white;
  border: none;
  padding: 0;
  width: 48.114px;
  height: 48.114px;
  border-radius: 50%;
}
.white_button img {
  width: 38px;
  height: 38px;
}
.post_button_container {
  padding: 10px;
}
.post_button_container .post_button {
  color: #fff;
  padding: 10px 20px; /* Adjust the padding as needed */
  border: none;
  border-radius: 26.823px;
  background: #fd5901;
  width: 116.467px;
  height: 40.799px;
  flex-shrink: 0;
}
@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Adjust the overlay color and transparency */
  backdrop-filter: blur(5px); /* Adjust the blur strength as needed */
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(
    0,
    0,
    0,
    0.5
  );  /* Adjust the background color of the popup */
  z-index: 10000;
}
