.ceatepost_img_name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;

  img {
  }

  span {
    margin-left: 10px;

    h2 {
      font-size: 22.611px;
      font-family: Poppins;
      font-weight: 500;
      line-height: 160%;
      letter-spacing: 1.144px;
      margin: 0;
    }

    h6 {
      color: #a1a1a1;
      font-size: 10.306px;
      font-family: Poppins;
      line-height: 160%;
      letter-spacing: 0.572px;
    }
  }
}

.createpost_modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}

.create_post_modal{
  .modal-body {
    max-height: 50vh;
    overflow-y: auto;

    .createpost_text_area {
      textarea {
        width: 100%;
        background-color: #fbfbfb;
        border: 1px solid #e0e0e0;
      }
    }
  }
}

.createpost_modal_footer {
  display: flex;
  margin: auto;

  .modal_footer_container {
    width: 480px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 17.882px;
    border: 0.894px solid #e0e0e0;
    background: #eaeef2;

    /* footer */
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left_buttons {
      display: flex;
      gap: 10px;
      padding: 10px;

      .white_button {
        background-color: white;
        border: none;
        padding: 0;
        width: 48.114px;
        height: 48.114px;
        border-radius: 50%;

        img {
          width: 38px;
          height: 38px;
        }
      }
    }
  }
}

.post_button_container {
  padding: 10px;

  .post_button {
    color: #fff;
    padding: 10px 20px;
    /* Adjust the padding as needed */
    border: none;
    border-radius: 26.823px;
    background: #fd5901;
    width: 116.467px;
    height: 40.799px;
    flex-shrink: 0;
  }
}

.image-cropper-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.image-cropper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.image-cropper img {
  max-width: 100%;
  height: auto;
  display: block;
}

.image-cropper-container {
  border: 1px solid #ccc;
  border-radius: 5px;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.createpost-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.5);
  // background-color: rgba(0, 0, 0, 0.1);
  /* Adjust the overlay color and transparency */
  backdrop-filter: blur(5px);
  /* Adjust the blur strength as needed */
  z-index: 9999;
}

.create_post_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white !important;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the background color of the popup */
  z-index: 10000;
}

@media (max-width: 768px) {
  .create_post_modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the background color of the popup */
    z-index: 10000;
  }

  .createpost_modal_footer {
    display: flex;
    margin: auto;

    .modal_footer_container {
      width: 100%;
      height: 65px;
      flex-shrink: 0;
      border-radius: 17.882px;
      border: 0.894px solid #e0e0e0;
      background: #eaeef2;

      /* footer */
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left_buttons {
        display: flex;
        gap: 10px;
        padding: 10px;

        .white_button {
          background-color: white;
          border: none;
          padding: 0;
          width: 42.114px;
          height: 42.114px;
          border-radius: 50%;

          img {
            width: 38px;
            height: 38px;
          }
        }
      }
    }
  }
}
