.results__container {
  .Link {
    text-decoration: none;
    color: inherit;
  }

  .result__bar {
    cursor: pointer;
    border-top: 1px solid rgba(207, 207, 207, 1);
  }
}

// .result__bar + .result__bar {
//   border-top: 1px solid rgba(207, 207, 207, 1);
// }
