$bg-color: #050505;
$accent-color: #FD5901;
$text-color: #fff;

.features-container {
  background-color: $bg-color;
  width: 100vw;
  color: $text-color;
  padding: 20px;
  padding-bottom: 50px;
  position: relative;

  .center-content {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-size: 2rem;
      font-weight: 500;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .accent-bar {
    background-color: $accent-color;
    height: 50px;
    width: 4px;
    position: absolute;
    border-radius: 9999px;
  }

  .accent-bar-left,
  .accent-bar-right {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .accent-bar-left {
    left: 6.1rem;
    &.top {
      top: 1320px;
    }
    &.middle {
      top: 1585px;
    }
    &.bottom {
      top: 1830px;
    }
  }

  .accent-bar-right {
    right: 43.6rem;
    &.top {
      top: 1485px;
    }
    &.middle {
      top: 1750px;
    }
    &.bottom {
      top: 2040px;
    }
  }

  .background-image {
    position: absolute;
    width: 50%;
    opacity: 0.3;

    &.bg1 {
      top: 0;
      right: 0;
    }
    &.bg2 {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .features-content {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    @media (min-width: 768px) {
      flex-direction: column;
      justify-content: space-between;
      margin: 20px 50px;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      margin: 20px 100px;
    }

    .column {
      position: relative;
      width: 100%;
      margin-bottom: 20px;

      @media (min-width: 1024px) {
        width: 45%;
        margin-bottom: 0;
      }

      .line {
        height: 100%;
        width: 1px;
        background: linear-gradient(174.56deg, rgba(77, 77, 77, 0.2) 26.71%, rgba(255, 101, 18, 0.2) 39.31%, rgba(37, 37, 37, 0.134) 63.69%);
        position: absolute;
        left: 0;
        top: 0;

        @media (max-width: 1024px) {
          display: none;
        }
      }

      .content {
        padding-left: 20px;

        .feature {
          margin-bottom: 40px;

          img {
            height: 30px;
            width: 30px;
          }

          h1 {
            font-size: 1.5rem;
            font-weight: 600;
          }

          p {
            font-size: 1rem;
            font-weight: 400;
            margin: 10px 0;
          }

          .buttons {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;

            button {
              background-color: $accent-color;
              height: 45px;
              width: 128px;
              font-size: 1rem;
              font-weight: 600;
              border-radius: 9999px;
              color: $text-color;
              border: none;
            }

            .icon-button {
              height: 45px;
              width: 45px;
              border: 2px solid $text-color;
              border-radius: 9999px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }

    .right-column {
      margin-top: 3rem;

      @media (min-width: 1024px) {
        margin-top: 12rem;
        padding-left: 20px;
      }
    }
  }

  .join-button {
    background-color: $accent-color;
    margin: 50px auto;
    display: block;
    color: $text-color;
    border-radius: 9999px;
    height: 50px;
    width: 90%;
    max-width: 480px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
  }

  .bottom-line {
    display: block;
    margin: 50px auto 0;
    width: 100%;
  }
}
