.manage_account_settings {
  background-color: var(--white-to-grey);
  color: var(--d-l-grey);
  border-radius: 0;

  @media (min-width: 821px) {
    border-radius: var(--border-radius);
    min-width: 40vw;
  }

  .back-button {
    background-color: transparent !important;
    outline: none;
    border: none;
    color: var(--d-l-grey);
  }
  .add_email_btn {
    background-color: var(--bs-light) !important;
    outline: none;
    border: none;
  }
  .modal.test {
    background: var(--white-to-grey) !important;

    .modal-content {
      background: var(--white-to-grey) !important;

      .modal-body {
        form {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          fieldset {
            border: 1px solid var(--bs-border-color);
            border-radius: 10px;
            background-color: transparent;
            padding: 0;
            position: relative;
            .professional_form_input {
              border: none;
              outline: none;
              width: 100%;
              background-color: transparent;
              padding: 0.5em 0.75em;
              font-size: 1rem;
              font-weight: 500;
              line-height: normal;
            }
          }
          legend {
            margin-left: 2em;
            padding-inline: 1em;
            color: var(--d-l-grey);
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .done {
    background-color: var(--bs-light);
    color: var(--d-l-grey);
    outline: none;
    border: none;
    &:hover {
      background: var(--bs-light);
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    fieldset,
    legend {
      all: revert;
      margin: 0;
    }

    fieldset {
      border: 1px solid var(--bs-border-color);
      border-radius: 10px;
      background-color: transparent;
      padding: 0;
      position: relative;

      &:focus-within {
        transition: border 0.15s ease-in-out;
        border: 1px solid #fd5901;
      }

      //   &:focus-within {
      //     transition: border 0.15s ease-in-out;
      //     border: 1px solid rgba(178, 204, 93, 1);
      //   }

      .professional_form_input {
        border: none;
        outline: none;
        width: 100%;
        background-color: transparent;

        padding: 0.5em 0.75em;
        font-size: 1rem;
        font-weight: 500;
        line-height: normal;
      }

      .visually-hiden {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
      }
    }

    legend {
      margin-left: 2em;
      padding-inline: 1em;
      color: var(--d-l-grey);
      font-size: 12px;
      font-weight: 500;
    }
    button {
      border-radius: 131px;
      border: 1px solid var(--bs-border-color);
      width: 107px;
      height: 35px;
      flex-shrink: 0;
      color: #717171;
      font-size: 18px;
      font-family: Poppins;
      cursor: pointer;
    }
    .input-group {
      margin-top: -7px;
    }
    .form-control {
      display: block;
      width: 100%;
      padding: 0;
      width: 1% !important;
      outline: none !important;
      border: none !important;
      background: transparent !important;
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
    #button-addon2 {
      outline: none !important;
      border-bottom: none !important ;
      border-top: none !important ;
      border-right: none !important ;
      height: 45px;

      &:hover {
        background: transparent !important;
      }
    }
  }
}
